Repository BinaryStudioAcademy/bsa-2020-feedgrabber, pull requests merged in 2020-09, with the labels that each got.

#269 Feature/219 keep received notifications list
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationController.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationRepository.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationService.java
  backend/core/src/main/java/com/feed_grabber/core/notification/dto/NotificationResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/notification/model/UserNotification.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/resources/db/migration/V2020.08.28_16.09__add_read_column_to_notifications.sql
  frontend/src/components/NotificationMenu/index.tsx
  frontend/src/components/NotificationMenu/styles.module.sass
  frontend/src/reducers/notifications/index.ts
  frontend/src/sagas/notifications/routines.ts
  frontend/src/sagas/notifications/sagas.ts
Labels: backend, frontend

#278 Feature/248 team lead role
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/RequestTeamLeadDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/ResponseTeamLeadDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/TeamDetailsDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/exceptions/TeamUserLeadNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/team/model/Team.java
  backend/core/src/main/resources/db/migration/V2020.08.31_13.05__alter_table_teams.sql
  frontend/src/containers/TeamsDetailsPage/index.tsx
  frontend/src/containers/TeamsDetailsPage/styles.module.sass
  frontend/src/containers/TeamsDetailsPage/usersBlock.tsx
  frontend/src/models/teams/ITeam.ts
  frontend/src/reducers/teams/reducer.ts
  frontend/src/sagas/teams/routines.ts
  frontend/src/sagas/teams/sagas.ts
Labels: backend, enhancement, frontend

#268 Fix/report with sections
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionMapper.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/AddExistingQuestionsDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire2question/QuestionQuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire2question/QuestionnaireQuestion.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire2question/QuestionnaireQuestionId.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionController.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionMapper.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionService.java
  backend/core/src/main/java/com/feed_grabber/core/sections/dto/SectionCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/sections/model/Section.java
  backend/core/src/main/java/com/feed_grabber/core/sections/model/SectionQuestion.java
  backend/core/src/main/java/com/feed_grabber/core/sections/model/SectionQuestionId.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamMapper.java
  backend/core/src/main/resources/db/migration/V2020.08.29_12.08__drop_column_orderindex.sql
  frontend/src/components/QuestionnaireOrderDraggableView/index.tsx
  frontend/src/components/QuestionnairePreview/QuestionnaireList.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/reducers/notifications/index.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/sections/sagas.ts
Labels: fix, help wanted

#294 Feature/262 update nav ui
  frontend/package.json
  frontend/public/index.html
  frontend/src/assets/styles/_variables.sass
  frontend/src/components/GenericPagination/styles.module.sass
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.module.sass
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPage/styles.module.sass
  frontend/src/components/PrivateRoute/styles.module.sass
  frontend/src/components/Profile/ProfileInfo/index.tsx
  frontend/src/components/Profile/ProfileSecurity/index.tsx
  frontend/src/components/Profile/ProfileSettings/index.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/components/RedirectFormEditor/index.tsx
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/SideMenu/styles.module.sass
  frontend/src/components/UI/UIBackgroundWrapper/styles.module.sass
  frontend/src/components/UI/UIButton/index.tsx
  frontend/src/components/UI/UIButton/styles.module.sass
  frontend/src/components/UI/UICard/styles.module.sass
  frontend/src/components/UI/UICardBlock/styles.module.sass
  frontend/src/components/UI/UIContent/styles.module.sass
  frontend/src/components/UI/UIPageTitle/styles.module.sass
  frontend/src/containers/QuestionnaireList/styles.module.sass
  frontend/src/containers/QuestionsList/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/containers/ReportPage/styles.module.sass
  frontend/src/containers/RequestsPage/index.tsx
  frontend/src/styles/common.scss
Labels: enhancement, frontend

#263 Feature/211 sorting and serach users
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/components/RedirectFormEditor/index.tsx
  frontend/src/components/UI/UIUserItemCard/index.tsx
  frontend/src/components/UserListItem/index.tsx
  frontend/src/containers/UserList/index.tsx
  frontend/src/containers/UserList/styles.module.sass
  frontend/src/sagas/users/routines.ts
  frontend/src/sagas/users/sagas.ts
Labels: backend, enhancement, frontend

#292 Feature/194 notification upgrade
  backend/core/src/main/java/com/feed_grabber/core/notification/MessageTypes.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationController.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationRepository.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationService.java
  backend/core/src/main/java/com/feed_grabber/core/notification/dto/NotificationResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/notification/model/UserNotification.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseMapper.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/response/model/Response.java
  backend/core/src/main/resources/db/migration/V2020.09.01_08.41__update_notifications_table.sql
  backend/core/src/main/resources/db/migration/V2020.09.01_08.45__remove_notification_exists_from_response_table.sql
  frontend/src/components/NotificationMenu/index.tsx
  frontend/src/components/NotificationMenu/notificationTypes/RequestNotification/index.tsx
  frontend/src/components/NotificationMenu/notificationTypes/RequestNotification/styles.module.sass
  frontend/src/components/NotificationMenu/notificationTypes/TextWithLinkNotification/index.tsx
  frontend/src/components/NotificationMenu/notificationTypes/TextWithLinkNotification/styles.module.sass
  frontend/src/components/NotificationMenu/styles.module.sass
  frontend/src/reducers/notifications/index.ts
Labels: backend, enhancement, frontend

#299 Fix
  backend/core/src/main/java/com/feed_grabber/core/request/RequestController.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
Labels: backend, bug, fix

#301 Fix/report generation
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  frontend/src/components/UI/UIQuestionListHeader/styles.module.scss
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/ReportPage/RespondentReport/index.tsx
  frontend/src/sagas/questions/sagas.ts
Labels: fix

#289 Fix 270 question saving
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/reducers/section/reducer.ts
Labels: fix, frontend

#302 links to ms files
  backend/core/src/main/java/com/feed_grabber/core/report/ReportController.java
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Receiver.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportApiHelper.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportController.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportService.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/FrontendReportData.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/excel/ExcelReportGenerator.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/model/Report.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ppt/PowerPointReport.kt
  frontend/src/models/report/IReport.ts
Labels: fix

#304 Feature/238 show report files links
  backend/core/src/main/java/com/feed_grabber/core/file/dto/S3FileReportDto.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/RabbitConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Receiver.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Sender.java
  backend/core/src/main/java/com/feed_grabber/core/report/ReportController.java
  backend/core/src/main/java/com/feed_grabber/core/report/ReportMapper.java
  backend/core/src/main/java/com/feed_grabber/core/report/ReportService.java
  backend/core/src/main/java/com/feed_grabber/core/report/dto/FileReportsDto.java
  backend/core/src/main/java/com/feed_grabber/core/report/dto/ReportDetailsDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/fileStorage/AmazonS3ClientService.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/RabbitConfiguration.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Sender.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportController.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportService.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/FrontendReportData.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/ReportFileCreationDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/ReportFileCreationResponseDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/ReportFilesResponseDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/excel/ExcelReportGenerator.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/model/Report.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ppt/PowerPointReport.kt
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/containers/ReportPage/styles.module.sass
  frontend/src/sagas/report/routines.tsx
Labels: enhancement

#276 add elasticsearch
  .docker/docker-compose.yml
  .env.example/elasticsearch.env
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/config/BuildSearchService.java
  backend/core/src/main/resources/application-staging.properties
  scripts/dev-infrastructure.sh
Labels: backend

#279 Add "Confirm password" and links to main page
  frontend/src/containers/InvitationSignUp/index.tsx
Labels: frontend

#283 News creation ui
  frontend/src/components/CompanyFeedItemCreation/index.tsx
  frontend/src/components/CompanyFeedItemCreation/styles.module.sass
  frontend/src/models/IAppState.ts
  frontend/src/models/companyFeed/ICompanyFeedItem.ts
  frontend/src/reducers/companyFeed/reducer.ts
  frontend/src/reducers/index.ts
  frontend/src/sagas/companyFeed/routines.ts
  frontend/src/sagas/companyFeed/sagas.ts
  frontend/src/sagas/index.ts
Labels: frontend

#284 fix all for card #200
  frontend/package.json
  frontend/src/components/Profile/ProfileInfo/index.tsx
  frontend/src/components/Profile/ProfileSecurity/index.tsx
  frontend/src/components/UI/UITextInput/UITextInput.tsx
  frontend/src/helpers/validation.helper.ts
  frontend/src/sagas/user/sagas.ts
Labels: fix, frontend

#290 Feature/272 add questionnaire list tooltip
  frontend/src/containers/QuestionnaireList/index.tsx
Labels: enhancement, frontend

#291 Edit limit with 100 symbols
  frontend/src/components/QuestionDetails/schemas.ts
Labels: frontend

#298 HR/CO can not see team with no users on the "new request" page
  frontend/src/containers/RequestCreation/index.tsx
Labels: frontend

#306 Feature/194 reports notification merge
  backend/core/src/main/java/com/feed_grabber/core/notification/MessageTypes.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationRepository.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationService.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/RabbitConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Receiver.java
  backend/core/src/main/java/com/feed_grabber/core/report/dto/ReportLinksDto.java
  backend/core/src/main/resources/application-staging.properties
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Sender.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportController.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/ReportFilesResponseDto.kt
  backend/event_processor/src/main/resources/application-staging.properties
  frontend/src/components/NotificationMenu/index.tsx
  frontend/src/components/NotificationMenu/notificationTypes/ReportsNotification/index.tsx
  frontend/src/components/NotificationMenu/notificationTypes/ReportsNotification/styles.module.sass
Labels: backend, enhancement, fix, frontend

#307 Fix not saving freetext and data questions
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
Labels: backend, bug, fix

#297 Feature/250 news feed back
  backend/core/src/main/java/com/feed_grabber/core/news/NewsController.java
  backend/core/src/main/java/com/feed_grabber/core/news/NewsMapper.java
  backend/core/src/main/java/com/feed_grabber/core/news/NewsRepository.java
  backend/core/src/main/java/com/feed_grabber/core/news/NewsService.java
  backend/core/src/main/java/com/feed_grabber/core/news/dto/NewsCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/news/dto/NewsDto.java
  backend/core/src/main/java/com/feed_grabber/core/news/dto/NewsUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/news/exceptions/NewsNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/news/model/News.java
  backend/core/src/main/resources/db/migration/V2020.08.31_1.30__create_news_table.sql
Labels: backend

#296 Feature/252 create search backend
  .docker/docker-compose.yml
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/model/QuestionCategory.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/role/RoleMapper.java
  backend/core/src/main/java/com/feed_grabber/core/role/RoleRepository.java
  backend/core/src/main/java/com/feed_grabber/core/role/model/Role.java
  backend/core/src/main/java/com/feed_grabber/core/search/SearchController.java
  backend/core/src/main/java/com/feed_grabber/core/search/SearchRepository.java
  backend/core/src/main/java/com/feed_grabber/core/search/SearchService.java
  backend/core/src/main/java/com/feed_grabber/core/search/dto/SearchDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/model/Team.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/UserProfile.java
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.module.sass
  frontend/src/components/Search/index.tsx
  frontend/src/components/Search/styles.module.sass
  frontend/src/models/IAppState.ts
  frontend/src/models/search/Search.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/search/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/search/routines.ts
  frontend/src/sagas/search/sagas.ts
Labels: backend

#287 Feature/249 news feed ui
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/NewsList/index.tsx
  frontend/src/components/NewsList/styles.module.scss
  frontend/src/models/IAppState.ts
  frontend/src/models/news/index.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/news/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/news/routines.ts
  frontend/src/sagas/news/sagas.ts
Labels: frontend

#273 Feature/251 create search ui
  frontend/src/components/Header/index.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/components/Search/styles.module.sass
  frontend/src/components/UI/UICard/index.tsx
  frontend/src/components/UI/UICard/styles.module.sass
  frontend/src/components/UserListItem/index.tsx
  frontend/src/components/UserListItem/styles.module.sass
  frontend/src/containers/QuestionnaireList/index.tsx
  frontend/src/containers/QuestionnaireList/styles.module.sass
  frontend/src/containers/QuestionsList/index.tsx
  frontend/src/containers/QuestionsList/styles.module.sass
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/containers/UserList/index.tsx
  frontend/src/models/search/Search.ts
  frontend/src/reducers/search/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/search/routines.ts
  frontend/src/sagas/search/sagas.ts
Labels: frontend

#266 Redesign send request page
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/report/ReportController.java
  backend/core/src/main/java/com/feed_grabber/core/report/ReportMapper.java
  backend/core/src/main/java/com/feed_grabber/core/report/ReportService.java
  backend/core/src/main/java/com/feed_grabber/core/report/dto/ReportShortDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestRepository.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/CreateRequestDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseController.java
  backend/core/src/main/resources/db/migration/V2020.08.28_13.30__add_send_to_target_column.sql
  frontend/src/components/MainPage/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/containers/RequestCreation/styles.module.sass
  frontend/src/models/report/IReport.ts
  frontend/src/reducers/questionnaireReport/reducer.ts
  frontend/src/sagas/report/routines.tsx
  frontend/src/sagas/report/sagas.ts
  frontend/src/sagas/request/sagas.ts
Labels: backend, frontend

#308 Fix/questionnaire deletion bugs
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionController.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionService.java
  frontend/src/components/CompanyFeedItemCreation/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/sections/sagas.ts
Labels: bug, fix

#295 Highlight current question
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/ResponseQuestion/styles.module.sass
Labels: frontend

#310 Fix/forms sagas styles
  frontend/src/components/Header/index.tsx
  frontend/src/components/QuestionMenu/index.tsx
  frontend/src/components/ResponseQuestion/styles.module.sass
  frontend/src/components/UI/UISectionCard/styles.module.sass
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/styles.module.sass
  frontend/src/reducers/app/reducer.ts
Labels: enhancement, frontend

#309 fixed
  .docker/docker-compose.yml
Labels: fix

#312 Fix import
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
Labels: bug, fix, frontend

#311 add new route
  frontend/src/components/CompanyFeedItemCreation/styles.module.sass
  frontend/src/containers/Routing/index.tsx
Labels: frontend

#313 fixed popup
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: fix, frontend

#316 Fix teams saga localhost
  frontend/src/sagas/teams/sagas.ts
Labels: fix, frontend

#317 elasticated user search
  backend/core/src/main/java/com/feed_grabber/core/search/SearchRepository.java
  backend/core/src/main/java/com/feed_grabber/core/search/dto/PagedResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
Labels: backend

#314 fix highlight style
  frontend/src/components/ResponseQuestion/styles.module.sass
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
Labels: fix

#319 Change nav link's names
  frontend/src/components/Header/index.tsx
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
Labels: enhancement, frontend

#320 debug turned off
  frontend/src/localization/i18n.js
Labels: fix

#324 fix/291_Privacy_and_security_tab_for_employee
  frontend/src/components/AccessManager/rbac-rules.ts
Labels: bug, frontend

#325 fix/299_update_no_items_styles
  frontend/src/components/GenericPagination/index.tsx
  frontend/src/components/GenericPagination/styles.module.sass
Labels: frontend

#327 Fix/fix request user cards
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserShortDto.java
  frontend/src/components/UI/UIUserItemCard/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/models/user/types.ts
Labels: frontend

#333 Fix/infinite user fetch
  frontend/src/components/AccessManager/index.tsx
  frontend/src/sagas/companyFeed/sagas.ts
Labels: fix

#329 Fix/296 fix ui
  frontend/public/favicon.ico
  frontend/src/components/GenericPagination/index.tsx
  frontend/src/components/GenericPagination/styles.module.sass
  frontend/src/components/PeopleManagementPage/PeopleManagementPage.tsx
  frontend/src/components/Profile/ProfileSettings/index.tsx
  frontend/src/components/Profile/ProfileSettings/styles.sass
  frontend/src/components/QuestionDetails/styles.module.sass
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/SideMenu/styles.module.sass
  frontend/src/components/SwitchRoleModal/index.tsx
  frontend/src/components/UI/UICardBlock/styles.module.sass
  frontend/src/components/UserListItem/index.tsx
  frontend/src/components/UserListItem/styles.module.sass
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/containers/QuestionDeatilsPage/styles.module.sass
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
  frontend/src/containers/RequestCreation/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/containers/TeamsPage/styles.module.sass
  frontend/src/containers/UserList/index.tsx
  frontend/src/containers/UserList/styles.module.sass
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
Labels: fix, frontend

#335 Feature/281 questionnaire update
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/containers/QuestionnaireList/index.tsx
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
  frontend/src/sagas/companyFeed/sagas.ts
Labels: frontend

#331 Fix/set correct delete question method
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/reducers/questions/reducer.ts
  frontend/src/sagas/questions/sagas.ts
Labels: bug, fix, frontend

#328 add user search by username
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
Labels: backend

#300 Feature/improve routing
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyController.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyRepository.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyService.java
  frontend/src/components/SubdomainRouter/index.tsx
  frontend/src/containers/ErrorPage/index.tsx
  frontend/src/containers/ErrorPage/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/helpers/subdomain.helper.ts
  frontend/src/reducers/companies/reducer.ts
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/companies/routines.ts
  frontend/src/sagas/companies/sagas.ts
Labels: frontend

#330 finalize auth flow
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/RegisterUserResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/components/AuthForm/SignForm/SignUpForm.tsx
  frontend/src/models/auth/types.ts
  frontend/src/models/user/types.ts
  frontend/src/reducers/auth/reducer.ts
  frontend/src/sagas/auth/sagas.ts
Labels: backend, fix, frontend

#338 Add header in new container
  frontend/src/containers/QuestionDetailsContainer/index.tsx
  frontend/src/containers/Routing/index.tsx
Labels: frontend

#340 Rename routes
  frontend/src/components/AccessManager/rbac-rules.ts
  frontend/src/components/AccountVerificationPage/index.tsx
  frontend/src/components/AuthForm/ResetPasswordForm/index.tsx
  frontend/src/components/AuthForm/SignForm/index.jsx
  frontend/src/components/GuestRoute/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Landing/index.tsx
  frontend/src/components/SideMenu/index.tsx
  frontend/src/containers/InvitationSignUp/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/invitationSignUp/sagas.ts
Labels: fix, frontend

#343 Fix add button
  frontend/src/containers/TeamsPage/index.tsx
Labels: bug, fix, frontend

#344 Fix 313 unable to load settings error after logout
  frontend/src/components/PrivateRoute/index.tsx
Labels: fix, frontend

#346 disabled
  frontend/src/components/SubdomainRouter/index.tsx
Labels: fix, frontend

#345 Connect company feed
  backend/core/src/main/java/com/feed_grabber/core/news/NewsRepository.java
  backend/core/src/main/java/com/feed_grabber/core/news/NewsService.java
  frontend/src/components/AccessManager/rbac-rules.ts
  frontend/src/components/CompanyFeedItemCreation/index.tsx
  frontend/src/components/CompanyFeedItemCreation/styles.module.sass
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/NewsList/index.tsx
  frontend/src/components/NewsList/styles.module.scss
  frontend/src/containers/Routing/index.tsx
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
  frontend/src/models/IAppState.ts
  frontend/src/models/companyFeed/ICompanyFeedItem.ts
  frontend/src/models/news/index.ts
  frontend/src/reducers/companyFeed/reducer.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/news/reducer.ts
  frontend/src/sagas/companyFeed/routines.ts
  frontend/src/sagas/companyFeed/sagas.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/news/routines.ts
  frontend/src/sagas/news/sagas.ts
Labels: backend, frontend

#353 Extract news item into separate component
  frontend/src/components/NewsItem/NewsItem.tsx
  frontend/src/components/NewsItem/styles.module.scss
  frontend/src/components/NewsList/index.tsx
Labels: fix, frontend

#349 fixed
  frontend/src/components/SubdomainRouter/index.tsx
Labels: fix, frontend

#354 Fix/news item ui
  frontend/src/components/NewsItem/NewsItem.tsx
  frontend/src/components/NewsItem/styles.module.scss
  frontend/src/components/NewsList/index.tsx
Labels: fix, frontend

#339 Edit buttons reaction
  frontend/src/components/ResponseQuestion/index.tsx
Labels: fix, frontend

#351 Improve localization
  frontend/src/components/GenericPagination/index.tsx
  frontend/src/components/PeopleManagementPage/PeopleManagementPage.tsx
  frontend/src/components/Profile/ProfileInfo/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/SectionBlock/index.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/components/UI/UISectionCard/index.tsx
  frontend/src/components/UserListItem/index.tsx
  frontend/src/containers/InvitationLinkPage/emailDomainCreation.tsx
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
Labels: fix, frontend

#356 fix time display on news item
  frontend/src/components/NewsItem/NewsItem.tsx
Labels: fix

#357 fix/firefox-display-issue
  frontend/src/components/Landing/style.sass
Labels: fix, frontend

#363 Fix/update validation rules
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/exceptions/WrongQuestionnaireTitleException.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/exceptions/WrongTeamNameException.java
  frontend/src/components/TeamForm/index.tsx
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
Labels: backend, fix, frontend

#360 Fix questionnaire warning
  frontend/src/containers/QuestionnaireList/index.tsx
Labels: fix, frontend

#368 Feature/305 company feed reaction
  backend/core/src/main/java/com/feed_grabber/core/news/NewsMapper.java
  backend/core/src/main/java/com/feed_grabber/core/news/NewsRepository.java
  backend/core/src/main/java/com/feed_grabber/core/news/NewsService.java
  backend/core/src/main/java/com/feed_grabber/core/news/dto/NewsDto.java
  backend/core/src/main/java/com/feed_grabber/core/news/model/News.java
  backend/core/src/main/java/com/feed_grabber/core/newsReaction/NewsReactionController.java
  backend/core/src/main/java/com/feed_grabber/core/newsReaction/NewsReactionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/newsReaction/NewsReactionService.java
  backend/core/src/main/java/com/feed_grabber/core/newsReaction/dto/ReactionCreationDto.java
  backend/core/src/main/java/com/feed_grabber/core/newsReaction/dto/ReactionCreationResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/newsReaction/dto/ReactionDto.java
  backend/core/src/main/java/com/feed_grabber/core/newsReaction/model/NewsReaction.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/resources/db/migration/V2020.09.07_07.20__create_news_reaction_table.sql
  frontend/package.json
  frontend/src/components/NewsItem/NewsItem.tsx
  frontend/src/components/NewsItem/ReactionTile/index.tsx
  frontend/src/components/NewsItem/ReactionTile/styles.module.scss
  frontend/src/components/NewsItem/styles.module.scss
  frontend/src/components/NewsList/index.tsx
  frontend/src/components/NewsList/styles.module.scss
  frontend/src/components/ResponseQuestion/FileUploadResponse/index.tsx
  frontend/src/components/UI/Emoji/Emoji.tsx
  frontend/src/models/companyFeed/ICompanyFeedItem.ts
  frontend/src/reducers/companyFeed/reducer.ts
  frontend/src/sagas/companyFeed/routines.ts
  frontend/src/sagas/companyFeed/sagas.ts
Labels: backend, enhancement, frontend

#359 Move language tool
  frontend/src/components/Profile/index.tsx
  frontend/src/components/Profile/styles.module.sass
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/SideMenu/styles.module.sass
Labels: enhancement, frontend

#358 Set appropriate access to navigation buttons
  frontend/src/components/Header/index.tsx
Labels: frontend

#365 Fix/changed questionnaire creation response text
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/exceptions/QuestionnaireExistsException.java
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: backend, fix, frontend

#371 Update some text
  frontend/src/components/Profile/ProfileSecurity/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/localization/languages/ukrainian.json
Labels: fix, frontend

#370 Fix/320 case insensitive
  frontend/src/components/ResponseQuestion/CheckboxResponse/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
Labels: fix, frontend

#369 Disable clicks for checkbox and radio if it is not a response page
  frontend/src/components/ResponseQuestion/CheckboxResponse/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
Labels: fix

#336 Questionnaire auto closing
  backend/core/src/main/java/com/feed_grabber/core/rabbit/RabbitConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Receiver.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Sender.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/entityExample/CloseRequest.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestController.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseController.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseService.java
  backend/core/src/main/resources/application-staging.properties
  backend/event_processor/build.gradle.kts
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/RabbitConfiguration.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Receiver.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Sender.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/entityExample/CloseRequest.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/schedule/ScheduleService.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/schedule/jobs/CloseReportJob.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/schedule/triggers/CloseReportTrigger.kt
  backend/event_processor/src/main/resources/application-staging.properties
Labels: backend

#364 Employee firing/unfiring
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/resources/db/migration/V2020.09.07_14.30__alter_users_table.sql
  frontend/src/components/FiredUserListItem/index.tsx
  frontend/src/components/UserListItem/index.tsx
  frontend/src/components/helpers/GenericPagination/index.tsx
  frontend/src/containers/UserList/index.tsx
  frontend/src/containers/UserList/styles.module.sass
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
  frontend/src/models/users/types.ts
  frontend/src/reducers/users/reducer.ts
  frontend/src/sagas/users/routines.ts
  frontend/src/sagas/users/sagas.ts
Labels: backend, frontend

#361 Disable save button when nothing changed
  frontend/src/components/Profile/ProfileInfo/index.tsx
Labels: fix, frontend

#373 fix bugs
  backend/core/src/main/resources/application-staging.properties
  frontend/src/components/NewsItem/NewsItem.tsx
Labels: bug, fix

#347 Feature/318 team requests
  backend/core/src/main/java/com/feed_grabber/core/report/ReportService.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestController.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestRepository.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/RequestShortDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/TeamShortDto.java
  frontend/src/components/helpers/AccessManager/rbac-rules.ts
  frontend/src/containers/RequestsPage/RequestItem/index.tsx
  frontend/src/containers/TeamsDetailsPage/index.tsx
  frontend/src/containers/TeamsDetailsPage/requestsBlock.tsx
  frontend/src/containers/TeamsDetailsPage/usersBlock.tsx
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
  frontend/src/models/report/IReport.ts
  frontend/src/models/teams/ITeam.ts
  frontend/src/reducers/teams/reducer.ts
  frontend/src/sagas/request/routines.ts
  frontend/src/sagas/request/sagas.ts
  frontend/src/sagas/teams/routines.ts
  frontend/src/sagas/teams/sagas.ts
Labels: backend, enhancement, frontend

#374 Fix/298 fix search
  backend/core/src/main/java/com/feed_grabber/core/search/SearchRepository.java
  frontend/src/sagas/search/sagas.ts
Labels: bug, fix

#348 notify before deadline
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationService.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/response/model/Response.java
  backend/core/src/main/java/com/feed_grabber/core/scheduledTasks/ScheduledTasks.java
  backend/core/src/main/java/com/feed_grabber/core/scheduledTasks/ScheduledTasksConfig.java
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/email/EmailSender.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/email/MailContentBuilder.kt
  backend/event_processor/src/main/resources/templates/deadline_notification.html
Labels: backend

#337 Feature/285 add elastic users
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/search/SearchRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/UserProfile.java
Labels: backend

#375 Expand news feed image
  frontend/src/components/NewsItem/NewsItem.tsx
  frontend/src/components/NewsItem/styles.module.scss
  frontend/src/components/NewsList/index.tsx
  frontend/src/components/NewsList/styles.module.scss
  frontend/src/reducers/companyFeed/reducer.ts
  frontend/src/sagas/companyFeed/routines.ts
Labels: enhancement, frontend

#376 Fix side menu styles #336
  frontend/src/components/SideMenu/styles.module.sass
Labels: enhancement, fix, frontend

#377 Show only unread notifications number in circle
  frontend/src/components/NotificationMenu/index.tsx
Labels: enhancement, frontend

#378 Fix/synchronize front and back questionnaire validation
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
Labels: bug, fix

#341 Feature/287 questionnaire archiving
  backend/core/src/main/java/com/feed_grabber/core/news/dto/NewsDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/dto/QuestionnaireUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/resources/db/migration/V2020.09.08_18.00__alter_table_questionnaires.sql
  frontend/src/containers/QuestionnaireList/index.tsx
  frontend/src/containers/QuestionnaireList/styles.module.sass
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: backend, frontend

#383 Feature/346 fix ui elements
  frontend/src/components/NewsList/index.tsx
  frontend/src/components/UI/UIContent/styles.module.sass
  frontend/src/components/helpers/PrivateRoute/index.tsx
  frontend/src/components/helpers/PrivateRoute/styles.module.sass
  frontend/src/containers/TeamsPage/index.tsx
Labels: frontend

#386 Fix/form editor bugs
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseService.java
  frontend/package.json
  frontend/src/components/ComponentsQuestions/ScaleQuestion/styles.module.sass
  frontend/src/components/Form/QuestionCard/QuestionCard.tsx
  frontend/src/components/Form/QuestionCard/styles.module.sass
  frontend/src/components/Form/QuestionMenu/index.tsx
  frontend/src/components/Form/QuestionMenu/styles.module.css
  frontend/src/components/Form/QuestionMenu/styles.module.sass
  frontend/src/components/Form/Section/Section.tsx
  frontend/src/components/Form/Section/styles.module.sass
  frontend/src/components/Form/index.tsx
  frontend/src/components/Header/styles.module.sass
  frontend/src/components/QuestionForm/QuestionDetailsOptions/index.tsx
  frontend/src/components/QuestionForm/defaultValues.tsx
  frontend/src/components/QuestionForm/index.tsx
  frontend/src/components/QuestionForm/styles.module.sass
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/ResponseQuestion/styles.module.sass
  frontend/src/components/SideMenu/styles.module.sass
  frontend/src/components/UI/UIContent/styles.module.sass
  frontend/src/components/UI/UIPageTitle/styles.module.sass
  frontend/src/components/UI/UIPageTitleToggle/styles.module.sass
  frontend/src/components/UI/UISectionCard/index.tsx
  frontend/src/components/UI/UISectionCard/styles.module.sass
  frontend/src/components/helpers/PrivateRoute/index.tsx
  frontend/src/components/helpers/PrivateRoute/styles.module.sass
  frontend/src/containers/App/index.tsx
  frontend/src/containers/FormEditor/index.tsx
  frontend/src/containers/FormEditor/styles.module.sass
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/QuestionsList/index.tsx
  frontend/src/containers/QuestionsList/styles.module.sass
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/localization/languages/english.json
  frontend/src/reducers/app/reducer.ts
  frontend/src/reducers/formEditor/reducer.ts
  frontend/src/sagas/sections/sagas.ts
Labels: enhancement, fix, frontend

#381 fix 500 error & signup confirmation
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserProfileService.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/sagas/user/sagas.ts
Labels: bug, fix

#380 Bug with avatar upload and delte profile-settings form popup
  frontend/src/components/Header/index.tsx
  frontend/src/components/Profile/ProfileInfo/index.tsx
  frontend/src/containers/Routing/index.tsx
Labels: bug, fix

#392 Question Card styles
  frontend/src/components/Form/QuestionMenu/index.tsx
  frontend/src/components/Form/index.tsx
  frontend/src/components/QuestionForm/QuestionDetailsOptions/index.tsx
  frontend/src/components/QuestionForm/index.tsx
  frontend/src/components/QuestionForm/styles.module.sass
  frontend/src/components/ResponseQuestion/styles.module.sass
  frontend/src/containers/FormEditor/index.tsx
  frontend/src/localization/languages/english.json
Labels: frontend

#393 Fix/351 error 500 long news title, empty title and body
  backend/core/src/main/java/com/feed_grabber/core/news/NewsController.java
  backend/core/src/main/java/com/feed_grabber/core/news/dto/NewsCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/news/dto/NewsUpdateDto.java
  frontend/src/components/CompanyFeedItemCreation/index.tsx
  frontend/src/components/UI/UIButton/styles.module.sass
  frontend/src/sagas/companyFeed/sagas.ts
Labels: backend, fix, frontend

#395 Fix/359 fix language switching tool ui
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/SideMenu/styles.module.sass
Labels: fix, frontend

#394 Fix/356 fix qustion list add and update flow
  frontend/src/components/QuestionForm/QuestionDetailsOptions/index.tsx
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
  frontend/src/containers/QuestionsList/index.tsx
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/reducers/questions/reducer.ts
  frontend/src/sagas/questions/sagas.ts
Labels: fix

#396 fix/remove_possibility_to_create_company_duplicates_during_registration
  frontend/src/components/AuthForm/SignForm/SignUpForm.tsx
  frontend/src/reducers/auth/reducer.ts
Labels: bug, fix, frontend

#400 Deleted questionnaires are not seen in "archived" list
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: fix

#399 Fix/questionnaire ui small fixes
  frontend/src/components/AuthForm/ResetPasswordForm/index.tsx
  frontend/src/components/AuthForm/SignForm/index.jsx
  frontend/src/components/Landing/index.tsx
  frontend/src/components/ResponseQuestion/ScaleQuestionResponse/styles.module.sass
  frontend/src/components/SignUpByEmailPage/index.tsx
  frontend/src/components/UI/UIPageTitle/index.tsx
  frontend/src/components/UI/UIPageTitle/styles.module.sass
  frontend/src/components/helpers/GenericPagination/styles.module.sass
  frontend/src/containers/ErrorPage/index.tsx
  frontend/src/containers/InvitationSignUp/index.tsx
  frontend/src/containers/QuestionnaireList/index.tsx
Labels: fix, frontend

#397 Fix scale question UI
  frontend/src/components/ResponseQuestion/ScaleQuestionResponse/styles.module.sass
Labels: fix, frontend

#379 Feature/344 remove random suffix from subdomain
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/components/AuthForm/SignForm/SignUpForm.tsx
Labels: backend, frontend

#401 Fix/363 language switch view
  frontend/src/components/SideMenu/index.tsx
  frontend/src/reducers/app/reducer.ts
  frontend/src/sagas/app/routines.ts
Labels: enhancement, fix, frontend

#406 Fix/365 excel report
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportService.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/excel/ExcelReportGenerator.kt
Labels: backend, fix

#388 Feature/311 create company dashbord page
  backend/core/src/main/java/com/feed_grabber/core/dashboard/DashboardController.java
  backend/core/src/main/java/com/feed_grabber/core/dashboard/DashboardService.java
  backend/core/src/main/java/com/feed_grabber/core/dashboard/dto/DashboardDto.java
  backend/core/src/main/java/com/feed_grabber/core/dashboard/dto/UserInfo.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireMapper.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/dto/QuestionnaireDashboardDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestRepository.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/RequestDashboardDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/containers/Dashboard/index.tsx
  frontend/src/containers/Dashboard/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
  frontend/src/models/IAppState.ts
  frontend/src/models/dashboard/types.ts
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/models/report/IReport.ts
  frontend/src/models/user/types.ts
  frontend/src/reducers/dashboard/reducer.ts
  frontend/src/reducers/index.ts
  frontend/src/sagas/dashboard/rourines.ts
  frontend/src/sagas/dashboard/sagas.ts
  frontend/src/sagas/index.ts
Labels: enhancement

#390 improve localization
  frontend/src/components/RedirectFormEditor/index.tsx
  frontend/src/components/SwitchRoleModal/index.tsx
  frontend/src/localization/languages/english.json
  frontend/src/localization/languages/ukrainian.json
Labels: fix

#403 fix RadioButtonResponse
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
Labels: fix, frontend

#391 validation improvement
  backend/core/src/main/java/com/feed_grabber/core/auth/RegisterService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/exceptions/PasswordNotValidException.java
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/team/model/Team.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/UserProfile.java
  backend/core/src/main/resources/db/migration/V2020.09.08_23.45__alter_tables_add_constraints.sql
Labels: backend, enhancement

#405 search by words in fields
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
Labels: bug, fix

#384 Feature/340 delete section in questionnaire
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionController.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionService.java
  backend/core/src/main/java/com/feed_grabber/core/sections/model/Section.java
  frontend/src/components/Form/Section/Section.tsx
  frontend/src/components/Form/index.tsx
  frontend/src/components/UI/UISectionCard/index.tsx
  frontend/src/components/UI/UISectionCard/styles.module.sass
  frontend/src/containers/FormEditor/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/localization/languages/ukrainian.json
  frontend/src/sagas/sections/sagas.ts
Labels: backend, enhancement, frontend

#402 fix/employee cannot answer questionnaire
  frontend/src/components/helpers/AccessManager/index.tsx
  frontend/src/components/helpers/AccessManager/rbac-rules.ts
  frontend/src/components/helpers/PrivateRoute/index.tsx
Labels: bug, fix

#407 Fix/354 upload question
  backend/core/src/main/resources/application-staging.properties
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/QuestionField/index.tsx
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/index.tsx
  frontend/src/components/ResponseQuestion/FileUploadResponse/InternalStorageUpload/index.tsx
  frontend/src/components/ResponseQuestion/FileUploadResponse/index.tsx
Labels: backend, bug, fix, frontend

#409 Fix double triple quarter like
  frontend/src/reducers/companyFeed/reducer.ts
Labels: fix, frontend

#382 Feature/324 add team page pagination
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/dashboard/DashboardService.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/search/SearchRepository.java
  backend/core/src/main/java/com/feed_grabber/core/search/dto/SearchDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamMapper.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/model/Team.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  frontend/src/components/PeopleManagementPage/PeopleManagementPage.tsx
  frontend/src/components/PeopleManagementPage/styles.module.sass
  frontend/src/components/UI/UICard/index.tsx
  frontend/src/components/UI/UIContent/index.tsx
  frontend/src/components/helpers/GenericPagination/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/containers/TeamsPage/styles.module.sass
  frontend/src/models/search/Search.ts
  frontend/src/reducers/teams/reducer.ts
  frontend/src/sagas/teams/routines.ts
  frontend/src/sagas/teams/sagas.ts
  frontend/src/sagas/users/sagas.ts
Labels: backend, frontend

#410 fixed dont know why optional not working
  frontend/src/containers/Routing/index.tsx
Labels: fix, frontend

#413 Feature 378 close request from teams page
  frontend/src/containers/TeamsDetailsPage/index.tsx
  frontend/src/containers/TeamsDetailsPage/requestsBlock.tsx
Labels: frontend

#412 Fix 368 error after archiving questionnaire
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: fix, frontend

#411 Fix/372 fix menu movement
  frontend/src/components/Form/QuestionMenu/index.tsx
Labels: fix, frontend

#417 fix localization
  frontend/src/localization/i18n.js
Labels: fix, frontend

#419 fix show answers button for employee
  frontend/src/components/CompanyFeedItemCreation/index.tsx
  frontend/src/components/NewsList/index.tsx
  frontend/src/components/NewsList/styles.module.scss
  frontend/src/components/helpers/AccessManager/rbac-rules.ts
  frontend/src/containers/Routing/index.tsx
Labels: fix, frontend

#415 Feature/normalize form state
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationRepository.java
  backend/core/src/main/java/com/feed_grabber/core/notification/dto/NotificationResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/dto/QuestionnaireFullDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/PendingRequestDto.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseController.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseService.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionController.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionService.java
  frontend/src/components/Form/QuestionCard/QuestionCard.tsx
  frontend/src/components/Form/QuestionMenu/index.tsx
  frontend/src/components/Form/Section/Section.tsx
  frontend/src/components/Form/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/NotificationMenu/index.tsx
  frontend/src/components/NotificationMenu/notificationTypes/RequestNotification/index.tsx
  frontend/src/components/QuestionForm/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/components/UI/UIQuestionListHeader/index.tsx
  frontend/src/components/UI/UIQuestionListHeader/styles.module.scss
  frontend/src/components/UI/UISectionCard/index.tsx
  frontend/src/components/UI/UISectionCard/styles.module.sass
  frontend/src/containers/FormEditor/index.tsx
  frontend/src/containers/FormResponse/index.tsx
  frontend/src/containers/FormResponse/styles.module.scss
  frontend/src/containers/QuestionDetailsContainer/index.tsx
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/QuestionnareResponse/styles.module.scss
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/helpers/array.helper.ts
  frontend/src/helpers/formEditor.helper.ts
  frontend/src/models/IAppState.ts
  frontend/src/models/forms/IFormEditorState.ts
  frontend/src/models/forms/Questions/IQuesion.ts
  frontend/src/models/forms/Response/types.ts
  frontend/src/reducers/app/reducer.ts
  frontend/src/reducers/formEditor/reducer.ts
  frontend/src/reducers/notifications/index.ts
  frontend/src/reducers/questionnaireResponse/reducer.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/sagas.ts
  frontend/src/sagas/report/sagas.ts
  frontend/src/sagas/response/routines.ts
  frontend/src/sagas/response/sagas.ts
  frontend/src/sagas/sections/routines.ts
  frontend/src/sagas/sections/sagas.ts
Labels: backend, fix, frontend

#408 Feature/366 add from existing search pagination
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionMapper.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/search/SearchRepository.java
  backend/core/src/main/java/com/feed_grabber/core/sections/model/Section.java
  backend/core/src/main/java/com/feed_grabber/core/sections/model/SectionQuestion.java
  frontend/src/components/Form/QuestionMenu/index.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/containers/FormEditor/index.tsx
  frontend/src/sagas/questions/sagas.ts
Labels: backend, frontend

#416 500 error when generate report
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/excel/ExcelReportGenerator.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ppt/ChartSlide.kt
Labels: backend, bug, fix

#423 Fix redirection to employee page from search
  frontend/src/components/Search/index.tsx
  frontend/src/components/UI/UIPageTitleToggle/index.tsx
Labels: bug, fix, frontend

#424 fix file upload report
  frontend/src/components/ResponseQuestion/FileUploadResponse/index.tsx
  frontend/src/containers/ReportPage/FileQuestionReport/index.tsx
  frontend/src/models/report/IReport.ts
Labels: fix, frontend

#420 fix/dropdown when editing questions
  frontend/src/components/QuestionForm/QuestionDetailsOptions/index.tsx
Labels: fix, frontend

#425 fixed styles on people page
  frontend/src/containers/Dashboard/index.tsx
  frontend/src/containers/Dashboard/styles.module.sass
Labels: fix, frontend

#426 fixed
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/resources/messages_english.properties
  backend/core/src/main/resources/messages_ukrainian.properties
  frontend/src/components/TeamForm/index.tsx
  frontend/src/components/helpers/GenericPagination/styles.module.sass
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
  frontend/src/containers/TeamsPage/styles.module.sass
Labels: fix, frontend

#427 Small fixes
  backend/event_processor/src/main/resources/templates/activate_account.html
  backend/event_processor/src/main/resources/templates/deadline_notification.html
  backend/event_processor/src/main/resources/templates/invitation_link.html
  backend/event_processor/src/main/resources/templates/reset_password.html
  frontend/src/components/MainPage/index.tsx
Labels: fix, frontend
