Repository BinaryStudioAcademy/bsa-2020-feedgrabber, pull requests merged in 2020-08, with the labels that each got.

#1 Edit initial database schema
  docs/feedback_db.drawio
Labels: documentation, good first issue

#12 Feature/9-landing-page
  frontend/package.json
  frontend/src/assets/fonts/Quicksand-Bold.ttf
  frontend/src/assets/fonts/Quicksand-Regular.ttf
  frontend/src/assets/images/bg-pattern.jpg
  frontend/src/assets/images/icon_bg.jpg
  frontend/src/assets/images/icon_bg_free.png
  frontend/src/assets/images/icon_scaled.png
  frontend/src/assets/images/standing-1@2x.png
  frontend/src/assets/images/standing-8@2x.png
  frontend/src/components/Landing/index.tsx
  frontend/src/components/Landing/style.sass
Labels: frontend

#3 Add methods to login/logout and interceptors for jwt-header
  .env.example/core-db.env
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/containers/Routing/index.tsx
  frontend/src/helpers/api.helper.ts
  frontend/src/helpers/apiClient.ts
  frontend/src/index.tsx
  frontend/src/screens/Home/services/home.service.ts
  frontend/src/security/authProvider.ts
  frontend/src/security/tokenProvider.ts
Labels: enhancement

#7 #33 Authentication backend
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/TokenService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/TokenRefreshRequestDTO.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/TokenRefreshResponseDTO.java
  backend/core/src/main/java/com/feed_grabber/core/exceptions/JwtTokenExpiredException.java
  backend/core/src/main/java/com/feed_grabber/core/security/JwtRequestFilter.java
  backend/core/src/main/java/com/feed_grabber/core/security/SecurityConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/security/SecurityConstants.java
  backend/core/src/main/resources/application.properties
Labels: backend, enhancement

#13 Feature/14 company crud
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyRepository.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyService.java
  backend/core/src/main/java/com/feed_grabber/core/company/dto/CompanyDto.java
  backend/core/src/main/resources/db/migration/V1__create_company_table.sql
  backend/core/src/main/resources/db/migration/V2__seed_company_table.sql
Labels: backend

#4 Add user basics
  backend/core/src/main/java/com/feed_grabber/core/role/Role.java
  backend/core/src/main/java/com/feed_grabber/core/role/RoleDto.java
  backend/core/src/main/java/com/feed_grabber/core/role/RoleRepository.java
  backend/core/src/main/java/com/feed_grabber/core/team/Team.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/resources/db/migration/V3__create_user_table.sql
  backend/core/src/main/resources/db/seeds/V4__seed_user_table.sql
  docs/feedback_db.drawio
Labels: backend, enhancement

#11 Feature/32-navigation
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.module.scss
  frontend/src/components/PublicRoute/index.tsx
  frontend/src/components/SideMenu/index.tsx
  frontend/src/containers/Routing/index.tsx
Labels: enhancement, frontend

#17 Introduce request logging
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/TokenRefreshRequestDTO.java
  backend/core/src/main/java/com/feed_grabber/core/config/RequestLogging.java
  backend/core/src/main/java/com/feed_grabber/core/security/JwtRequestFilter.java
  backend/core/src/main/resources/application.properties
  frontend/src/helpers/apiClient.ts
Labels: enhancement

#9 Feature/16 main page skeleton
  frontend/src/components/MainPage/_reset.sass
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPage/styles.module.sass
  frontend/src/components/MainPageHeader/_reset.sass
  frontend/src/components/MainPageHeader/index.tsx
  frontend/src/components/MainPageHeader/styles.module.sass
Labels: enhancement, frontend

#20 Fix/api client in sign in
  frontend/src/components/LoginForm/index.tsx
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPageHeader/index.tsx
  frontend/src/containers/SignInBox/actions.ts
  frontend/src/containers/SignInBox/index.tsx
  frontend/src/containers/SignInBox/reducer.ts
  frontend/src/containers/SignInBox/routines.tsx
  frontend/src/containers/SignInBox/sagas.ts
  frontend/src/sagas/index.ts
  frontend/src/security/authProvider.ts
Labels: fix

#16 Feature/42 user details
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/UserProfile.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/UserSettings.java
  backend/core/src/main/resources/db/migration/V2020.08.05_14.43__create_user_profile.sql
  backend/core/src/main/resources/db/migration/V2020.08.05_15.15__create_user_settings.sql
Labels: backend, enhancement

#15 Feature/26-teams-CRUD
  backend/core/src/main/java/com/feed_grabber/core/team/Team.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/CreateTeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/TeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/model/Team.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/resources/db/migration/V2020.08.04_00.00__create_company_table.sql
  backend/core/src/main/resources/db/migration/V2020.08.04_00.01__create_user_table.sql
  backend/core/src/main/resources/db/migration/V2020_08_05_14_11__create_teams_table.sql
  backend/core/src/main/resources/db/seeds/V2__seed_company_table.sql
  backend/core/src/main/resources/db/seeds/V_2020_08_05_14_17__seed_teams_table.sql
Labels: backend, enhancement

#22 #46 Create Questionnaire list front
  frontend/src/components/QuestionnaireList/index.tsx
  frontend/src/components/QuestionnaireList/styles.module.sass
Labels: enhancement, frontend

#19 21 questionnaire form
  frontend/src/containers/Form/index.tsx
  frontend/src/containers/Form/style.sass
Labels: structure

#25 Feature/43 integrate map struct
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyMapper.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyService.java
  backend/core/src/main/java/com/feed_grabber/core/company/dto/CompanyDto.java
  backend/core/src/main/java/com/feed_grabber/core/role/RoleMapper.java
  backend/core/src/main/java/com/feed_grabber/core/role/dto/RoleDetailsDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamMapper.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/TeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
Labels: backend, enhancement

#27 Feature/25 invite link email
  backend/core/build.gradle
  backend/core/gradle/wrapper/gradle-wrapper.properties
  backend/core/src/main/java/com/feed_grabber/core/email/EmailService.java
  backend/core/src/main/java/com/feed_grabber/core/email/MailContentBuilder.java
  backend/core/src/main/resources/application.properties
  backend/core/src/main/resources/templates/inviteLinkTemplate/index.html
Labels: backend, enhancement

#23 Teams list (frontend)
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.module.scss
  frontend/src/components/TeamsList/index.tsx
  frontend/src/components/TeamsList/styles.module.sass
Labels: enhancement, frontend

#29 #53 Finalize routing (feature/53_finalize_routing)
  frontend/src/components/Landing/index.tsx
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPageHeader/index.tsx
  frontend/src/components/PrivateRoute/index.tsx
  frontend/src/components/PublicRoute/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/reducers/index.ts
  frontend/src/sagas/index.ts
  frontend/src/screens/Home/containers/Data/index.tsx
  frontend/src/screens/Home/containers/Data/reducer.ts
  frontend/src/screens/Home/containers/Data/sagas.ts
  frontend/src/screens/Home/models/IData.ts
  frontend/src/screens/Home/reducers/index.ts
  frontend/src/screens/Home/routines/index.ts
  frontend/src/screens/Home/sagas/index.ts
  frontend/src/screens/Home/services/home.service.ts
Labels: frontend

#26 Form for creating teams
  docs/feedback_db.drawio
  frontend/src/components/TeamForm/UserSelection/UserCard/index.tsx
  frontend/src/components/TeamForm/UserSelection/index.tsx
  frontend/src/components/TeamForm/index.tsx
Labels: frontend

#24 Feature/50 questions, questionnaires, question categories CRUD
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionMapper.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/exceptions/QuestionExistsException.java
  backend/core/src/main/java/com/feed_grabber/core/question/exceptions/QuestionNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryController.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryMapper.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryService.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/dto/QuestionCategoryCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/dto/QuestionCategoryDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/dto/QuestionCategoryUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/exceptions/CompanyNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/exceptions/QuestionCategoryExistsException.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/exceptions/QuestionCategoryNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/model/QuestionCategory.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireMapper.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/dto/QuestionnaireCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/dto/QuestionnaireDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/dto/QuestionnaireUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/exceptions/CompanyNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/exceptions/QuestionnaireExistsException.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/exceptions/QuestionnaireNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/resources/db/migration/V2020.08.06_10.53__create_question_categories.sql
  backend/core/src/main/resources/db/migration/V2020.08.06_14.37__create_questionnaires.sql
  backend/core/src/main/resources/db/migration/V2020.08.06_15.20__create_questions.sql
Labels: backend, enhancement

#33 Feature/48 user profile
  frontend/src/components/ProfileInfo/index.tsx
  frontend/src/components/ProfileInfo/styles.sass
  frontend/src/components/ProfilePage/index.tsx
  frontend/src/components/ProfilePage/styles.sass
  frontend/src/components/ProfileSettings/index.tsx
  frontend/src/components/ProfileSettings/styles.sass
  frontend/src/containers/Routing/index.tsx
Labels: enhancement, frontend

#14 Feature/12 sign up page frontend
  frontend/package.json
  frontend/src/components/RegistrationForm/IRegistrationRequest.ts
  frontend/src/components/RegistrationForm/actionTypes.ts
  frontend/src/components/RegistrationForm/actions.ts
  frontend/src/components/RegistrationForm/authService.ts
  frontend/src/components/RegistrationForm/index.tsx
  frontend/src/components/RegistrationForm/reducer.ts
  frontend/src/components/RegistrationForm/registrationField/index.tsx
  frontend/src/components/RegistrationForm/sagas.ts
  frontend/src/components/RegistrationForm/styles.module.sass
  frontend/src/react-app-env.d.ts
  frontend/src/reducers/index.ts
  frontend/src/sagas/index.ts
Labels: enhancement, frontend

#34 #47 Create questions list component
  frontend/src/components/QuestionsList/index.tsx
  frontend/src/components/QuestionsList/styles.module.sass
Labels: enhancement, frontend

#38 #71 Add question types basics
  frontend/src/models/IQuesion.ts
Labels: frontend

#31 Task 49. Complete with details
  docs/feedback_db.drawio
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/containers/QuestionDetails/styles.module.sass
Labels: enhancement, frontend

#39 #71 fix question types
  frontend/src/models/IQuesion.ts
Labels: fix

#46 hotfix
  docs/feedback_db.drawio
  frontend/src/helpers/apiClient.ts
Labels: fix

#42 #64 Feature/64 input fields question
  frontend/src/components/InputField/index.tsx
  frontend/src/components/InputField/style.module.scss
  frontend/src/models/IQuestion.ts
Labels: frontend

#43 Add calendar question creation component
  frontend/src/components/DateSelectionQuestionUI/index.tsx
  frontend/src/components/DateSelectionQuestionUI/styles.sass
Labels: enhancement

#48 fix/mainpage-data-mock
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPage/styles.module.sass
Labels: fix

#47 Feature/47 questions list add button to add new question
  frontend/src/components/QuestionsList/index.tsx
  frontend/src/components/QuestionsList/styles.module.sass
Labels: frontend

#51 Add side menu
  frontend/src/components/Header/index.tsx
  frontend/src/components/PrivateRoute/index.tsx
  frontend/src/components/PrivateRoute/styles.sass
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/SideMenu/styles.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/models/IAppState.ts
  frontend/src/reducers/app/actions.ts
  frontend/src/reducers/app/reducer.ts
  frontend/src/reducers/index.ts
Labels: enhancement, frontend

#54 fix routing
  frontend/src/containers/Routing/index.tsx
Labels: fix

#50 #49 Question details
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/containers/QuestionDetails/schemas.ts
  frontend/src/containers/QuestionDetails/styles.module.sass
  frontend/src/containers/QuestionDetails/styles.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/models/IQuesion.ts
Labels: enhancement, frontend

#36 #55 feature link teams functionality
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamMapper.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/TeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserResponseDto.java
  backend/core/src/main/resources/application.properties
  frontend/src/components/TeamsList/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/containers/TeamsPage/reducer.ts
  frontend/src/containers/TeamsPage/routines.tsx
  frontend/src/containers/TeamsPage/sagas.tsx
  frontend/src/models/ICompany.ts
  frontend/src/models/ITeam.ts
  frontend/src/models/IUser.ts
  frontend/src/reducers/index.ts
  frontend/src/sagas/index.ts
Labels: backend, frontend

#55 #47 fix error in questions list
  frontend/src/components/QuestionsList/index.tsx
  frontend/src/components/QuestionsList/styles.module.sass
Labels: fix, frontend

#57 Feature/49 question details
  frontend/src/components/ComponentsQuestions/DateSelectionQuestionUI/index.tsx
  frontend/src/components/ComponentsQuestions/DateSelectionQuestionUI/styles.sass
  frontend/src/components/ComponentsQuestions/FreeTextQuestionUI/index.tsx
  frontend/src/components/ComponentsQuestions/FreeTextQuestionUI/styles.sass
  frontend/src/components/ComponentsQuestions/IQuestionInputContract.tsx
  frontend/src/components/ComponentsQuestions/InputField/index.tsx
  frontend/src/components/ComponentsQuestions/InputField/style.scss
  frontend/src/components/ComponentsQuestions/MultichoiseQuestion/index.tsx
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/containers/QuestionDetails/initialValues.ts
  frontend/src/containers/QuestionDetails/schemas.ts
  frontend/src/containers/QuestionDetails/styles.sass
  frontend/src/models/IQuesion.ts
Labels: enhancement, frontend, question

#53 Feature/82 changed relation question questionnaire
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionMapper.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/resources/db/migration/V2020.08.09_21.00_create_questionnaire_question.sql
  backend/core/src/main/resources/db/migration/v2020.08.09_21.30_alter_question_table.sql
Labels: backend

#65 fix migration falls and categories
  backend/core/src/main/resources/db/migration/V2020.08.09_21.00__create_questionnaire_question.sql
  backend/core/src/main/resources/db/migration/V2020.08.09_21.30__alter_question_table.sql
  backend/core/src/main/resources/db/migration/V3020.08.11_18.39__seed_db_category.sql
Labels: fix

#61 fixed questionnaire creation
  frontend/src/helpers/apiClient.ts
Labels: fix, frontend

#63 #66 add scale question
  frontend/src/components/ComponentsQuestions/ScaleQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/ScaleQuestion/styles.module.sass
  frontend/src/components/QuestionsList/styles.module.sass
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/models/IQuesion.ts
Labels: enhancement, frontend

#67 feture/ 84 add company filter
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/AuthUserResponseDTO.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/TokenValuesDto.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/JwtRequestFilter.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/TokenService.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyController.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserResponseAuthDetailsDTO.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/resources/db/migration/V2020.08.04_00.00__create_company_table.sql
Labels: backend

#69 add styles
  frontend/src/components/ComponentsQuestions/MultichoiseQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/MultichoiseQuestion/styles.sass
Labels: fix, frontend

#64 Feature/58 event processor creation
  .docker/docker-compose.yml
  .docker/event-processor.dockerfile
  .env.example/event-processor.env
  backend/event_processor/.gitignore
  backend/event_processor/build.gradle.kts
  backend/event_processor/gradle/wrapper/gradle-wrapper.jar
  backend/event_processor/gradle/wrapper/gradle-wrapper.properties
  backend/event_processor/gradlew
  backend/event_processor/gradlew.bat
  backend/event_processor/settings.gradle.kts
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/EventProcessorApplication.kt
  backend/event_processor/src/main/resources/application.properties
  backend/event_processor/src/test/kotlin/com/feed_grabber/event_processor/EventProcessorApplicationTests.kt
Labels: backend, enhancement

#71 #91 Swagger2
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/config/Swagger.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/registration/RegistrationController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
Labels: backend, documentation, enhancement

#58 Feature/79 create generic pagination
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/response/DataList.java
  backend/core/src/main/resources/db/migration/V2020.08.12_10.28__alter_company_id_to_users.sql
  frontend/package.json
  frontend/src/components/GenericPagination/button.tsx
  frontend/src/components/GenericPagination/index.tsx
  frontend/src/components/GenericPagination/listItem.tsx
  frontend/src/components/GenericPagination/styles.module.sass
  frontend/src/containers/QuestionnaireList/index.tsx
  frontend/src/containers/QuestionnaireList/questionnaireModal.tsx
  frontend/src/containers/QuestionnaireList/styles.module.sass
  frontend/src/models/IAppState.ts
  frontend/src/models/IPaginationInfo.ts
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: enhancement, frontend

#68 Feature/62 radio button question creation
  frontend/src/components/ComponentsQuestions/MultichoiseQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/RadioButtonQuestionUI/index.tsx
  frontend/src/components/ComponentsQuestions/RadioButtonQuestionUI/styles.sass
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/models/IQuesion.ts
Labels: enhancement, frontend

#78 add confirm password field
  frontend/src/components/AuthForm/SignForm/SignUpForm.tsx
  frontend/src/components/AuthForm/SignForm/index.jsx
Labels: frontend

#80 fix according to tester review, thanks:)
  frontend/src/components/AuthForm/SignForm/SignUpForm.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
Labels: fix

#79 Fix
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
Labels: fix

#84 Fix/side menu
  frontend/src/components/Header/index.tsx
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/SideMenu/styles.sass
  frontend/src/reducers/app/actions.ts
  frontend/src/reducers/app/reducer.ts
  frontend/src/sagas/app/routines.ts
Labels: enhancement, fix

#81 107 use staus codes and error handlers
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyController.java
  backend/core/src/main/java/com/feed_grabber/core/data/DataController.java
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/registration/RegistrationController.java
  backend/core/src/main/java/com/feed_grabber/core/response/AppResponse.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  frontend/src/helpers/apiClient.ts
  frontend/src/models/IGeneric.ts
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/sagas.ts
  frontend/src/sagas/teams/sagas.ts
  frontend/src/sagas/user/sagas.ts
Labels: enhancement

#83 feature/105 add company selection
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyController.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyMapper.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyRepository.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyService.java
  backend/core/src/main/java/com/feed_grabber/core/company/dto/CompanyDomainDto.java
  frontend/src/components/AuthForm/SignForm/CompanySelectorForm/index.tsx
  frontend/src/components/AuthForm/SignForm/CompanySelectorForm/styles.module.sass
  frontend/src/components/AuthForm/SignForm/Input/index.jsx
  frontend/src/components/AuthForm/SignForm/SignInForm.tsx
  frontend/src/models/IAppState.ts
  frontend/src/models/companies/ICompanyDomain.ts
  frontend/src/reducers/companies/reducer.ts
  frontend/src/reducers/index.ts
  frontend/src/sagas/companies/routines.ts
  frontend/src/sagas/companies/sagas.ts
  frontend/src/sagas/index.ts
Labels: enhancement, frontend

#75 97 questionnaire response crud
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseMapper.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/dto/QuestionnaireResponseCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/dto/QuestionnaireResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/exceptions/QuestionnaireResponseNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/model/QuestionnaireResponse.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerController.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerMapper.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerRepository.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerService.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/dto/ResponseAnswerCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/dto/ResponseAnswerDto.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/exceptions/ResponseAnswerNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/model/ResponseAnswer.java
  backend/core/src/main/java/com/feed_grabber/core/user/exceptions/UserNotFoundException.java
  backend/core/src/main/resources/db/migration/V2020.08.12_00.00__add_response_tables.sql
Labels: backend

#82 106 feture/finilize question saving
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/question/CustomDes.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionMapper.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionType.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionUpdateDes.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/exceptions/QuestionTypeNotExistsException.java
  frontend/src/components/ComponentsQuestions/MultichoiseQuestion/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/containers/QuestionDetails/schemas.ts
  frontend/src/models/forms/Questions/DefaultQuestion.ts
  frontend/src/reducers/questions/reducer.ts
  frontend/src/sagas/questions/routines.ts
  frontend/src/sagas/questions/sagas.ts
Labels: backend, enhancement, frontend

#89 fix
  frontend/src/components/AuthForm/SignForm/CompanySelectorForm/index.tsx
Labels: fix, frontend

#90 Feature/102 forgot password
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/ResetPassDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserInfoToResetPassDto.java
  frontend/src/components/AuthForm/ResetPasswordForm/index.tsx
  frontend/src/components/AuthForm/SignForm/CompanySelectorForm/index.tsx
  frontend/src/components/AuthForm/SignForm/SignInForm.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/models/user/types.ts
  frontend/src/reducers/auth/reducer.ts
  frontend/src/sagas/auth/routines.ts
  frontend/src/sagas/companies/sagas.ts
  frontend/src/sagas/user/sagas.ts
Labels: backend, frontend

#87 Feature/98 add category to question
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/models/categories/ICategorie.ts
  frontend/src/reducers/questions/reducer.ts
  frontend/src/sagas/categories/routines.ts
  frontend/src/sagas/categories/sagas.ts
  frontend/src/sagas/index.ts
Labels: enhancement, frontend

#98 #115 Create company users list
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/components/GenericPagination/index.tsx
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/UserListItem/index.tsx
  frontend/src/components/UserListItem/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/containers/UserList/index.tsx
  frontend/src/models/IAppState.ts
  frontend/src/models/user/types.ts
  frontend/src/models/users/types.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/users/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/users/routines.ts
  frontend/src/sagas/users/sagas.ts
Labels: enhancement

#88 Feature/104 team creation ui
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamMapper.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/CreateTeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/model/Team.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  frontend/src/components/TeamForm/index.tsx
  frontend/src/components/TeamsList/TeamModalItem/index.tsx
  frontend/src/components/TeamsList/TeamModalItem/styles.module.sass
  frontend/src/components/TeamsList/index.tsx
  frontend/src/components/TeamsList/styles.module.sass
  frontend/src/components/TeamsList/teamsModal.tsx
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/reducers/teams/reducer.ts
  frontend/src/sagas/teams/routines.ts
  frontend/src/sagas/teams/sagas.ts
Labels: enhancement

#99 Feature/77 file upload question ui
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionType.java
  backend/core/src/main/resources/application.properties
  frontend/package.json
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/QuestionField/index.tsx
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/styles.module.sass
  frontend/src/components/FileUpload/Dropzone/index.tsx
  frontend/src/components/FileUpload/Dropzone/styles.sass
  frontend/src/components/FileUpload/ImageUrl/index.tsx
  frontend/src/components/FileUpload/InternalStorageUpload/index.tsx
  frontend/src/components/FileUpload/UrlVideo/index.tsx
  frontend/src/components/FileUpload/index.tsx
  frontend/src/components/FileUpload/styles.module.sass
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/containers/QuestionDetails/schemas.ts
  frontend/src/models/forms/Questions/IQuesion.ts
Labels: frontend

#95 use company for authentication and finalize routing
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/UserLoginDTO.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyController.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyService.java
  frontend/package.json
  frontend/src/components/AuthForm/SignForm/CompanySelectorForm/index.tsx
  frontend/src/components/AuthForm/SignForm/SignInForm.tsx
  frontend/src/components/SubdomainRouter/index.tsx
  frontend/src/containers/App/index.tsx
  frontend/src/helpers/subdomain.helper.ts
  frontend/src/reducers/companies/reducer.ts
  frontend/src/sagas/companies/routines.ts
  frontend/src/sagas/companies/sagas.ts
  frontend/src/security/tokenProvider.ts
Labels: backend, enhancement, frontend

#93 add backend for resetting password
  backend/core/src/main/java/com/feed_grabber/core/registration/RegistrationController.java
  backend/core/src/main/java/com/feed_grabber/core/registration/TokenType.java
  backend/core/src/main/java/com/feed_grabber/core/registration/VerificationTokenRepository.java
  backend/core/src/main/java/com/feed_grabber/core/registration/VerificationTokenService.java
  backend/core/src/main/java/com/feed_grabber/core/registration/model/VerificationToken.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/ResetPassDto.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserInfoToResetPassDto.java
  backend/core/src/main/resources/db/migration/V2020.08.13_17.02__alter_table_verification_token.sql
  frontend/src/components/AuthForm/ResetPasswordForm/index.tsx
  frontend/src/components/QuestionsList/styles.module.sass
  frontend/src/sagas/user/sagas.ts
Labels: backend

#96 Feature/24 invite link signup
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/dto/UserRegisterInvitationDTO.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/JwtRequestFilter.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/TokenService.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationController.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationMapper.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationRepository.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationService.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/dto/InvitationDto.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/exceptions/InvitationNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/model/Invitation.java
  backend/core/src/main/java/com/feed_grabber/core/register/RegisterService.java
  backend/core/src/main/java/com/feed_grabber/core/role/RoleRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserDetailsResponseDTO.java
  backend/core/src/main/resources/db/migration/V2020.08.12_18.02__create_invitations.sql
  frontend/src/components/AuthForm/SignForm/SignInForm.tsx
  frontend/src/components/AuthForm/SignForm/SignUpForm.tsx
  frontend/src/components/GuestRoute/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/InvitationLink/index.tsx
  frontend/src/components/Profile/ProfileInfo/index.tsx
  frontend/src/components/Profile/ProfileSettings/index.tsx
  frontend/src/containers/InvitationSignUp/index.tsx
  frontend/src/containers/InvitationSignUp/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/helpers/apiClient.ts
  frontend/src/models/IAppState.ts
  frontend/src/reducers/auth/reducer.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/invitation/reducer.ts
  frontend/src/reducers/invitationSignUp/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/invitation/routines.tsx
  frontend/src/sagas/invitation/sagas.ts
  frontend/src/sagas/invitationSignUp/routines.tsx
  frontend/src/sagas/invitationSignUp/sagas.ts
Labels: backend, enhancement, frontend

#85 #90 questionnaire response
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerController.java
  backend/core/src/main/resources/db/seeds/V2020.08.13_11.06__seed_question_questionnaire_table.sql
  frontend/src/components/ComponentsQuestionsResponse/FreeTextQuestion/index.tsx
  frontend/src/components/ComponentsQuestionsResponse/IComponentProps.ts
  frontend/src/components/ComponentsQuestionsResponse/helper.ts
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/QuestionnareResponse/styles.module.scss
  frontend/src/containers/Routing/index.tsx
  frontend/src/models/forms/Questions/IQuesion.ts
  frontend/src/models/forms/responseAnswers/types.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/reducers/responseAnswers/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/questions/routines.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
  frontend/src/sagas/responseAnswers/routines.ts
  frontend/src/sagas/responseAnswers/sagas.ts
Labels: enhancement

#100 update question backend logic
  backend/core/src/main/java/com/feed_grabber/core/question/CustomDes.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/AddExistingQuestionDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionCreateDto.java
Labels: backend

#102 Feature/128 update menu design
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.module.sass
  frontend/src/components/Header/styles.module.scss
  frontend/src/components/MainPage/styles.module.sass
  frontend/src/components/PrivateRoute/index.tsx
  frontend/src/components/PrivateRoute/styles.module.sass
  frontend/src/components/PrivateRoute/styles.sass
  frontend/src/components/SideMenu/index.tsx
  frontend/src/components/SideMenu/styles.module.sass
  frontend/src/containers/App/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/styles/common.scss
  frontend/src/styles/reset.scss
Labels: frontend

#101 Feature/127 update questionnaire page
  backend/core/src/main/resources/db/seeds/V3020.08.14_13.24__seed_db_quest_anketa.sql
  frontend/src/components/QuestionnairePreview/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/ResponseQuestion/styles.module.sass
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/QuestionDetails/styles.sass
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/reducers/expandedQuestionnaire/reducer.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/sagas/categories/sagas.ts
  frontend/src/sagas/expandedQuestionnaire/routines.tsx
  frontend/src/sagas/expandedQuestionnaire/sagas.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: frontend, structure

#92 Feature/59 queue handler
  .docker/docker-compose.yml
  .env.example/event-processor.env
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/rabbit/RabbitConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Receiver.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Sender.java
  backend/core/src/main/resources/application.properties
  backend/event_processor/build.gradle.kts
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/RabbitConfiguration.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Receiver.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Sender.kt
Labels: backend

#104 Feature/122 split question details
  frontend/src/components/QuestionDetails/index.tsx
  frontend/src/components/QuestionDetails/initialValues.ts
  frontend/src/components/QuestionDetails/questionTypeOptions.ts
  frontend/src/components/QuestionDetails/schemas.ts
  frontend/src/components/QuestionDetails/styles.module.sass
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/containers/QuestionDeatilsPage/styles.module.sass
  frontend/src/containers/QuestionDetails/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/sagas/questions/sagas.ts
Labels: enhancement, frontend

#103 Fix/132 frontend question crud
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/AddExistingQuestionsDto.java
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/models/forms/Questions/IQuesion.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/reducers/questions/reducer.ts
  frontend/src/sagas/questions/routines.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: backend, fix, frontend

#105 Feature/129 update home page design
  frontend/src/components/MainPage/MainPageHeader/index.tsx
  frontend/src/components/MainPage/MainPageHeader/styles.module.sass
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPage/styles.module.sass
  frontend/src/components/PrivateRoute/index.tsx
  frontend/src/components/PrivateRoute/styles.module.sass
  frontend/src/components/UI/UIButton/index.tsx
  frontend/src/components/UI/UIButton/styles.module.sass
  frontend/src/components/UI/UICard/index.tsx
  frontend/src/components/UI/UICard/styles.module.sass
  frontend/src/components/UI/UICardBlock/index.tsx
  frontend/src/components/UI/UICardBlock/styles.module.sass
  frontend/src/components/UI/UIColumn/index.tsx
  frontend/src/components/UI/UIColumn/styles.module.sass
  frontend/src/components/UI/UIContent/index.tsx
  frontend/src/components/UI/UIContent/styles.module.sass
  frontend/src/components/UI/UIPageTitle/index.tsx
  frontend/src/components/UI/UIPageTitle/styles.module.sass
Labels: frontend

#108 styled with refactored components
  frontend/src/components/ComponentsQuestionsResponse/helper.ts
  frontend/src/components/QuestionDetails/styles.module.sass
  frontend/src/components/QuestionnairePreview/index.tsx
  frontend/src/components/ResponseQuestion/FreeTextResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/ResponseQuestion/styles.module.sass
  frontend/src/components/UI/UIButton/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/containers/QuestionDeatilsPage/styles.module.sass
  frontend/src/models/IQuestionResponse.ts
  frontend/src/models/forms/Questions/IQuesion.ts
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
Labels: frontend

#115 flow fix + validate
  frontend/src/components/ResponseQuestion/FreeTextResponse/index.tsx
Labels: fix

#119 name fixes
  frontend/src/models/forms/Questions/IQuesion.ts
Labels: fix

#111 Date selection response
  frontend/src/components/ResponseQuestion/DateSelectionResponse/index.tsx
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
Labels: enhancement, frontend

#114 Feature/136 teams editing
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamMapper.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamService.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/RequestTeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/RequestUserTeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/ResponseUserTeamDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/TeamDetailsDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/dto/TeamShortDto.java
  backend/core/src/main/java/com/feed_grabber/core/team/exceptions/TeamExistsException.java
  backend/core/src/main/java/com/feed_grabber/core/team/exceptions/TeamNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/dto/UserShortDto.java
  frontend/src/components/TeamsList/TeamModalItem/index.tsx
  frontend/src/components/TeamsList/TeamModalItem/styles.module.sass
  frontend/src/components/TeamsList/index.tsx
  frontend/src/components/TeamsList/teamsModal.tsx
  frontend/src/components/UI/UIButton/index.tsx
  frontend/src/components/UI/UIButton/styles.module.sass
  frontend/src/components/UI/UICardBlock/index.tsx
  frontend/src/components/UI/UICardBlock/styles.module.sass
  frontend/src/components/UI/UIContent/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/containers/TeamsDetailsPage/index.tsx
  frontend/src/containers/TeamsDetailsPage/metadataBlock.tsx
  frontend/src/containers/TeamsDetailsPage/styles.module.sass
  frontend/src/containers/TeamsDetailsPage/usersBlock.tsx
  frontend/src/containers/TeamsPage/index.tsx
  frontend/src/containers/TeamsPage/styles.module.sass
  frontend/src/models/teams/ITeam.ts
  frontend/src/models/user/types.ts
  frontend/src/reducers/teams/reducer.ts
  frontend/src/sagas/teams/routines.ts
  frontend/src/sagas/teams/sagas.ts
Labels: backend, enhancement, frontend

#117 Fix Feature/59 queue handler
  .docker/docker-compose.yml
  .env.example/event-processor.env
  .env.example/rabbitmq.env
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Receiver.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Sender.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/entityExample/EntityType.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/entityExample/PostEntity.java
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/RabbitConfiguration.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Receiver.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Sender.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/entityExample/EntityType.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/entityExample/PostEntity.kt
  backend/event_processor/src/main/resources/application.properties
Labels: fix

#125 Feature/126 question preview design
  frontend/src/assets/styles/_variables.sass
  frontend/src/components/UI/UIListHeader/index.tsx
  frontend/src/components/UI/UIListHeader/styles.module.scss
  frontend/src/components/UI/UIListItem/index.tsx
  frontend/src/components/UI/UIListItem/styles.module.scss
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/QuestionnareResponse/styles.module.scss
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/sagas/questions/sagas.ts
Labels: frontend

#122 Feature/123 create request view
  backend/core/src/main/java/com/feed_grabber/core/request/RequestController.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestRepository.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/RequestCreationRequestDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/resources/db/migration/V2020.08.14_15.00__create_requests_tables.sql
  docs/feedback_db.drawio
  frontend/package.json
  frontend/src/components/UI/UITeamItemCard/index.tsx
  frontend/src/components/UI/UITeamItemCard/styles.module.sass
  frontend/src/components/UI/UIUserItemCard/index.tsx
  frontend/src/components/UI/UIUserItemCard/styles.module.sass
  frontend/src/containers/QuestionnaireList/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/containers/RequestCreation/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/sagas/index.ts
  frontend/src/sagas/request/routines.ts
  frontend/src/sagas/request/sagas.ts
Labels: backend, enhancement, frontend

#123 Feature/116 question validation
  frontend/src/components/ComponentsQuestions/CheckboxQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/InputField/index.tsx
  frontend/src/components/ComponentsQuestions/InputField/style.scss
  frontend/src/components/ComponentsQuestions/MultichoiseQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/RadioButtonQuestionUI/index.tsx
  frontend/src/components/ComponentsQuestions/ScaleQuestion/index.tsx
  frontend/src/components/QuestionDetails/index.tsx
  frontend/src/components/QuestionDetails/initialValues.ts
  frontend/src/components/QuestionDetails/questionTypeOptions.ts
  frontend/src/components/QuestionDetails/schemas.ts
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/containers/QuestionDeatilsPage/styles.module.sass
  frontend/src/containers/QuestionsList/index.tsx
  frontend/src/helpers/array.helper.ts
  frontend/src/models/forms/Questions/IQuesion.ts
  frontend/src/sagas/questions/sagas.ts
Labels: enhancement, frontend

#118 Feature/139 radio button response
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/styles.module.sass
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
Labels: enhancement, frontend

#126 fix
  frontend/src/components/UI/UITeamItemCard/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
Labels: fix

#127 fixed request view
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/RequestCreationRequestDto.java
  frontend/src/components/UI/UITeamItemCard/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/sagas/request/sagas.ts
Labels: fix

#128 Feature/140 checkbox response
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/resources/db/seeds/V3020.08.10_14.45__seed_db.sql
  backend/core/src/main/resources/db/seeds/V3020.08.11_18.39__seed_db_category.sql
  backend/core/src/main/resources/db/seeds/V3020.08.14_13.24__seed_db_quest_anketa.sql
  frontend/src/components/ResponseQuestion/CheckboxResponse/index.tsx
  frontend/src/components/ResponseQuestion/CheckboxResponse/styles.module.sass
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
Labels: enhancement, fix, frontend

#129 fix/133_Fix_the_login_and_renovate_of_the_token
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthService.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyRepository.java
  backend/core/src/main/java/com/feed_grabber/core/company/exceptions/CompanyAlreadyExistsException.java
  backend/core/src/main/java/com/feed_grabber/core/register/RegisterService.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/components/AuthForm/SignForm/SignUpForm.tsx
Labels: backend, bug

#138 now builds
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
Labels: bug, fix

#131 Feature/145 main page without mock
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/UI/UIQuestionItemCard/index.tsx
  frontend/src/components/UI/UIQuestionItemCard/styles.module.scss
  frontend/src/components/UI/UIQuestionListHeader/index.tsx
  frontend/src/components/UI/UIQuestionListHeader/styles.module.scss
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: backend, frontend

#135 Feature/141 file upload response
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/types.ts
  frontend/src/components/FileUpload/InternalStorageUpload/index.tsx
  frontend/src/components/FileUpload/index.tsx
  frontend/src/components/FileUpload/styles.module.sass
  frontend/src/components/ResponseQuestion/FileUploadResponse/Dropzone/index.tsx
  frontend/src/components/ResponseQuestion/FileUploadResponse/Dropzone/styles.sass
  frontend/src/components/ResponseQuestion/FileUploadResponse/ImageUrl/index.tsx
  frontend/src/components/ResponseQuestion/FileUploadResponse/InternalStorageUpload/index.tsx
  frontend/src/components/ResponseQuestion/FileUploadResponse/UrlVideo/index.tsx
  frontend/src/components/ResponseQuestion/FileUploadResponse/index.tsx
  frontend/src/components/ResponseQuestion/FileUploadResponse/styles.module.sass
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
Labels: frontend

#140 fix saving questions
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
Labels: backend, bug, fix

#134 Scale question response
  frontend/src/components/ComponentsQuestions/ScaleQuestion/styles.module.sass
  frontend/src/components/ResponseQuestion/DateSelectionResponse/index.tsx
  frontend/src/components/ResponseQuestion/ScaleQuestionResponse/index.tsx
  frontend/src/components/ResponseQuestion/ScaleQuestionResponse/styles.module.sass
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
Labels: frontend

#133 135 Avatar view
  frontend/package.json
  frontend/src/components/ImageCropModal/index.tsx
  frontend/src/components/Profile/AvatarSettings/index.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/containers/Routing/index.tsx
Labels: enhancement, frontend

#137 Add ability to upload images on imgur
  backend/core/src/main/java/com/feed_grabber/core/image/ImageController.java
  backend/core/src/main/java/com/feed_grabber/core/image/ImageMapper.java
  backend/core/src/main/java/com/feed_grabber/core/image/ImageRepository.java
  backend/core/src/main/java/com/feed_grabber/core/image/ImageService.java
  backend/core/src/main/java/com/feed_grabber/core/image/dto/ImageDto.java
  backend/core/src/main/java/com/feed_grabber/core/image/dto/ImageUploadDto.java
  backend/core/src/main/java/com/feed_grabber/core/image/dto/ImgurResponse.java
  backend/core/src/main/java/com/feed_grabber/core/image/exceptions/BadCropParamsException.java
  backend/core/src/main/java/com/feed_grabber/core/image/exceptions/BadImageException.java
  backend/core/src/main/java/com/feed_grabber/core/image/model/Image.java
  backend/core/src/main/resources/application.properties
  backend/core/src/main/resources/db/migration/V2020.08.17_21.06__create_images_table.sql
Labels: backend, enhancement

#139 add notification component
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.module.sass
  frontend/src/components/NotificationMenu/index.tsx
  frontend/src/components/NotificationMenu/styles.module.sass
  frontend/src/models/IAppState.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/notifications/index.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/notifications/routines.ts
  frontend/src/sagas/notifications/sagas.ts
Labels: frontend

#141 Fix info
  frontend/src/components/UserListItem/index.tsx
  frontend/src/containers/UserList/index.tsx
Labels: fix

#143 Feature/integrate components and response
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/UI/UIQuestionItemCard/index.tsx
  frontend/src/containers/QuestionnareResponse/index.tsx
Labels: frontend

#144 Add preview
  frontend/src/components/QuestionnairePreview/styles.module.sass
  frontend/src/containers/RequestCreation/index.tsx
Labels: enhancement, frontend

#150 Integrate file storage into core
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/config/S3Config.java
  backend/core/src/main/java/com/feed_grabber/core/file/FileMapper.java
  backend/core/src/main/java/com/feed_grabber/core/file/FileRepository.java
  backend/core/src/main/java/com/feed_grabber/core/file/dto/S3FileDetailsDto.java
  backend/core/src/main/java/com/feed_grabber/core/file/model/S3File.java
  backend/core/src/main/java/com/feed_grabber/core/fileStorage/AmazonService.java
  backend/core/src/main/java/com/feed_grabber/core/fileStorage/FSController.java
  backend/core/src/main/java/com/feed_grabber/core/fileStorage/exceptions/BadFileException.java
  backend/core/src/main/java/com/feed_grabber/core/image/ImageController.java
  backend/core/src/main/java/com/feed_grabber/core/image/ImageService.java
  backend/core/src/main/resources/application.properties
  backend/core/src/main/resources/db/migration/V2020.08.19_06.20__create_files_table.sql
Labels: backend, enhancement

#142 Feature/148 create report page
  frontend/package.json
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/PieChartTemplate/index.tsx
  frontend/src/components/PieChartTemplate/styles.module.sass
  frontend/src/containers/QuestionnaireList/index.tsx
  frontend/src/containers/ReportPage/RadioQuestionReport/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/containers/ReportPage/styles.module.sass
  frontend/src/containers/Routing/index.tsx
  frontend/src/models/IAppState.ts
  frontend/src/models/report/IReport.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/questionnaireReport/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/questionnaireReport/routines.tsx
  frontend/src/sagas/questionnaireReport/sagas.ts
Labels: frontend

#145 add company to url
  backend/core/src/main/java/com/feed_grabber/core/company/Company.java
  backend/core/src/main/java/com/feed_grabber/core/company/dto/CompanyDomainDto.java
  backend/core/src/main/java/com/feed_grabber/core/company/exceptions/WrongCompanyNameException.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/resources/db/migration/V2020.08.18_15.15__alter_table_company.sql
  frontend/src/helpers/subdomain.helper.ts
  frontend/src/models/companies/ICompanyDomain.ts
Labels: frontend

#148 add autolaod username while sign in
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/components/AuthForm/SignForm/SignInForm.tsx
  frontend/src/models/user/types.ts
  frontend/src/reducers/auth/reducer.ts
  frontend/src/sagas/auth/routines.ts
  frontend/src/sagas/user/sagas.ts
Labels: backend, enhancement, frontend

#149 Feature/125 question edit design
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/QuestionField/index.tsx
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/FileUploadQuestion/styles.module.sass
  frontend/src/components/ComponentsQuestions/MultichoiseQuestion/index.tsx
  frontend/src/components/QuestionDetails/QuestionDetailsOptions/index.tsx
  frontend/src/components/QuestionDetails/index.tsx
  frontend/src/components/QuestionDetails/styles.module.sass
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
Labels: frontend

#136 Feature/119 menu questionnaire
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/resources/db/migration/V2020.08.18_17.47__update_question2questionnaire_fk.sql
  frontend/package.json
  frontend/src/components/FormEditorSelectedComntainer/index.tsx
  frontend/src/components/QuestionMenu/index.tsx
  frontend/src/components/QuestionMenu/styles.module.sass
  frontend/src/components/QuestionnairePreview/index.tsx
  frontend/src/components/QuestionnairePreview/styles.module.sass
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/styles.module.sass
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/models/forms/Questions/IQuesion.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/reducers/questions/reducer.ts
  frontend/src/sagas/questions/routines.ts
  frontend/src/sagas/questions/sagas.ts
Labels: enhancement, frontend

#154 delete redirecting
  frontend/src/components/SubdomainRouter/index.tsx
Labels: bug

#151 Fix overflow
  frontend/src/containers/QuestionsList/index.tsx
Labels: fix, frontend

#152 Feature/160 update questionnaire list design
  frontend/src/components/GenericPagination/button.tsx
  frontend/src/components/GenericPagination/index.tsx
  frontend/src/components/GenericPagination/listItem.tsx
  frontend/src/components/GenericPagination/styles.module.sass
  frontend/src/containers/QuestionnaireList/index.tsx
  frontend/src/containers/QuestionnaireList/styles.module.sass
  frontend/src/containers/UserList/index.tsx
Labels: frontend

#159 Email sending: add verification page
  backend/event_processor/src/main/resources/templates/activate_account.html
  backend/event_processor/src/main/resources/templates/reset_password.html
  frontend/src/components/AccountVerificationPage/index.tsx
  frontend/src/components/AccountVerificationPage/style.module.sass
  frontend/src/containers/Routing/index.tsx
Labels: frontend

#132 Feature/120 websocket
  backend/core/build.gradle
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/RegisterService.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/JwtRequestFilter.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/TokenService.java
  backend/core/src/main/java/com/feed_grabber/core/config/NotificationService.java
  backend/core/src/main/java/com/feed_grabber/core/config/WebConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/config/WebSocket.java
  backend/core/src/main/java/com/feed_grabber/core/data/DataController.java
  backend/core/src/main/java/com/feed_grabber/core/data/DataRepository.java
  backend/core/src/main/java/com/feed_grabber/core/data/DataService.java
  backend/core/src/main/java/com/feed_grabber/core/data/dto/DataDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamRepository.java
  frontend/package.json
  frontend/src/components/PrivateRoute/index.tsx
  frontend/src/components/ResponseQuestion/MultiChoiceResponse/index.tsx
  frontend/src/containers/App/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/helpers/websocket.helper.tsx
  frontend/src/sagas/questions/sagas.ts
  frontend/src/setupProxy.js
Labels: backend, frontend

#161 fixed
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/components/SubdomainRouter/index.tsx
  frontend/src/helpers/subdomain.helper.ts
  frontend/src/security/tokenProvider.ts
Labels: fix

#158 Feature/166 fix pagination size
  frontend/src/components/GenericPagination/index.tsx
  frontend/src/components/SideMenu/styles.module.sass
Labels: fix, frontend

#166 Feature/171 connect chart js
  frontend/package.json
  frontend/src/components/PieChartTemplate/index.tsx
  frontend/src/components/PieChartTemplate/styles.module.sass
  frontend/src/components/ReportTemplates/BarsChartTemplate/index.tsx
  frontend/src/components/ReportTemplates/PieChartTemplate/index.tsx
  frontend/src/components/ReportTemplates/PieChartTemplate/styles.module.sass
  frontend/src/containers/ReportPage/FreeTextQuestionReport/index.tsx
  frontend/src/containers/ReportPage/FreeTextQuestionReport/styles.module.sass
  frontend/src/containers/ReportPage/RadioQuestionReport/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/models/report/IReport.ts
  frontend/src/sagas/questionnaireReport/sagas.ts
Labels: enhancement, frontend

#165 Feature/request response backend
  backend/core/src/main/java/com/feed_grabber/core/apiContract/AppResponse.java
  backend/core/src/main/java/com/feed_grabber/core/apiContract/DataList.java
  backend/core/src/main/java/com/feed_grabber/core/auth/AuthController.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/JwtRequestFilter.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/TokenService.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyController.java
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseMapper.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/QuestionnaireResponseService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/dto/QuestionnaireResponseCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/dto/QuestionnaireResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaireResponse/exceptions/QuestionnaireResponseNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestController.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/CreateRequestDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/RequestCreationRequestDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/response/KeepAsJsonDeserializer.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseController.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseMapper.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseService.java
  backend/core/src/main/java/com/feed_grabber/core/response/dto/ResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/response/model/Response.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerController.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerMapper.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerRepository.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/ResponseAnswerService.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/dto/ResponseAnswerCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/dto/ResponseAnswerDto.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/exceptions/ResponseAnswerNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/responseAnswer/model/ResponseAnswer.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
  backend/core/src/main/resources/db/migration/V2020.08.20_05.45__alter_response_tables.sql
Labels: backend

#171 Remove validation from "sign in" form
  frontend/src/components/AuthForm/SignForm/SignInForm.tsx
Labels: fix

#167 Feature 185 Scale question report
  frontend/src/containers/ReportPage/ScaleQuestionReport/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/models/report/IReport.ts
  frontend/src/sagas/questionnaireReport/sagas.ts
Labels: enhancement, frontend

#168 Feature 184 Multichoice question report
  frontend/src/containers/ReportPage/MultichoiceQuestionReport/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/models/report/IReport.ts
  frontend/src/sagas/questionnaireReport/sagas.ts
Labels: enhancement, frontend

#169 Feature 180 Checkbox question report
  frontend/src/containers/ReportPage/CheckboxQuestionReport/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/models/report/IReport.ts
  frontend/src/sagas/questionnaireReport/sagas.ts
Labels: enhancement, frontend

#174 Feature/139 radio button response
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
Labels: fix

#179 Fix/separate random color helper
  frontend/src/containers/ReportPage/CheckboxQuestionReport/index.tsx
  frontend/src/containers/ReportPage/MultichoiceQuestionReport/index.tsx
  frontend/src/containers/ReportPage/RadioQuestionReport/index.tsx
  frontend/src/containers/ReportPage/ScaleQuestionReport/index.tsx
  frontend/src/helpers/colors.helper.ts
  frontend/src/models/report/IReport.ts
Labels: fix, frontend

#170 Feature/119 menu questionnaire
  .docker/docker-compose.yml
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireRepository.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/dto/QuestionDeleteDto.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire2question/QuestionQuestionnaireRepository.java
  backend/core/src/main/resources/application.properties
  frontend/src/components/FormEditorSelectedComntainer/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/QuestionDetails/index.tsx
  frontend/src/components/QuestionMenu/index.tsx
  frontend/src/components/QuestionnaireOrderDraggableView/QuestionCard.tsx
  frontend/src/components/QuestionnairePreview/index.tsx
  frontend/src/components/QuestionnairePreview/styles.module.sass
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/styles.module.sass
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/reducers/questions/reducer.ts
  frontend/src/sagas/questions/routines.ts
  frontend/src/sagas/questions/sagas.ts
Labels: fix

#201 Feature/183 report for file upload
  frontend/src/components/ReportTemplates/PieChartTemplate/index.tsx
  frontend/src/containers/ReportPage/FileQuestionReport/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/models/report/IReport.ts
  frontend/src/sagas/questionnaireReport/sagas.ts
Labels: frontend

#194 Feature/176 add deadline support
  backend/core/src/main/java/com/feed_grabber/core/config/ThreadPoolTaskSchedulerConfig.java
  backend/core/src/main/java/com/feed_grabber/core/exceptions/Handler.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/entityExample/MailType.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestController.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestRepository.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/PendingRequestDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/RequestResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseController.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseService.java
  backend/core/src/main/java/com/feed_grabber/core/responseDeadline/DeadlineService.java
  backend/core/src/main/java/com/feed_grabber/core/responseDeadline/exceptions/DeadlineExpiredException.java
  backend/core/src/main/resources/application.properties
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/email/EmailSender.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/entityExample/MailType.kt
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPage/styles.module.sass
  frontend/src/components/ResponseQuestion/CheckboxResponse/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/models/forms/Questionnaires/types.ts
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
  frontend/src/models/forms/Response/types.ts
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/sagas.ts
  frontend/src/sagas/request/sagas.ts
Labels: backend, frontend

#202 Possibility to make question require added
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionUpsertDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/question/serializers/CustomDes.java
  backend/core/src/main/java/com/feed_grabber/core/question/serializers/QuestionUpdateDes.java
  backend/core/src/main/java/com/feed_grabber/core/question/serializers/QuestionUpsertDes.java
  backend/core/src/main/resources/db/migration/V2020.08.21_22.00_alter_questions_table.sql
  frontend/src/components/QuestionDetails/index.tsx
  frontend/src/components/QuestionnairePreview/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/models/forms/Questions/DefaultQuestion.ts
  frontend/src/models/forms/Questions/IQuesion.ts
Labels: backend, enhancement, frontend

#205 Feature/178 excel report generation
  .docker/docker-compose.yml
  backend/core/src/main/java/com/feed_grabber/core/file/dto/S3FileCreationDto.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/RabbitConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/rabbit/Receiver.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/resources/application-staging.properties
  backend/core/src/main/resources/db/migration/V2020.08.25_08.17__update_resquest_table.sql
  backend/event_processor/build.gradle.kts
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/EventProcessorApplication.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/fileStorage/AmazonS3ClientService.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Receiver.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/rabbit/Sender.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportApiHelper.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportRepository.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/ReportService.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/Runner.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/AnswerValues.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/DataForReport.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/FrontendReportData.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/QuestionDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/QuestionResponseDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/QuestionnaireDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/RecievedResponseDataDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/ReportFileCreationResponseDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/ResponseDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/dto/UserDto.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/excel/ExcelReportCreator.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/excel/ExcelReportGenerator.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/excel/Utils.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/model/Question.kt
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/report/model/Report.kt
  backend/event_processor/src/main/resources/application-staging.properties
Labels: backend, enhancement

#172 Feature/92 duplicate question button
  backend/core/src/main/resources/db/migration/V2020.08.24_19.00__alter_table_questions.sql
  frontend/src/components/QuestionDetails/index.tsx
  frontend/src/components/QuestionnairePreview/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
Labels: enhancement, frontend

#212 Fix/197 redirection on prod
  frontend/.env.example
  frontend/.env.production
  frontend/src/env.ts
  frontend/src/helpers/subdomain.helper.ts
  frontend/src/security/tokenProvider.ts
Labels: fix, frontend

#213 Featue/199 fix user avatar
  backend/core/src/main/java/com/feed_grabber/core/image/ImageRepository.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/UserProfile.java
  backend/core/src/main/resources/db/migration/V2020.08.21_17.32_add_avatar_to_user_profile.sql
  backend/core/src/main/resources/db/migration/V2020.08.25_17.00__add_avatar_to_user_profile.sql
Labels: backend, fix

#188 Feature/link notifications back and front
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationController.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationMapper.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationRepository.java
  backend/core/src/main/java/com/feed_grabber/core/notification/UserNotificationService.java
  backend/core/src/main/java/com/feed_grabber/core/notification/dto/NotificationResponseDto.java
  backend/core/src/main/java/com/feed_grabber/core/notification/model/UserNotification.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/response/model/Response.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  backend/core/src/main/resources/db/migration/V2020.08.20_14.30__create_notifications_table.sql
  backend/core/src/main/resources/db/migration/V2020.08.21_18.22__alter_response_table.sql
  frontend/package.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.module.sass
  frontend/src/components/NotificationMenu/index.tsx
  frontend/src/components/NotificationMenu/styles.module.sass
  frontend/src/helpers/outsideClick.hook.ts
  frontend/src/reducers/notifications/index.ts
  frontend/src/sagas/notifications/routines.ts
  frontend/src/sagas/notifications/sagas.ts
Labels: backend, frontend

#214 fix stack overflow
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/user/model/User.java
Labels: fix

#215 Hotfix 203 fix stage email sending
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationService.java
  backend/core/src/main/java/com/feed_grabber/core/registration/VerificationTokenService.java
  backend/core/src/main/resources/application-staging.properties
Labels: backend, fix

#218 Fix/env+properties+frontend-bugs
  .docker/docker-compose.yml
  .env.example/core.env
  .env.example/event-processor.env
  .env.example/rabbitmq.env
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConstants.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationService.java
  backend/core/src/main/java/com/feed_grabber/core/registration/VerificationTokenService.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestMapper.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestService.java
  backend/core/src/main/java/com/feed_grabber/core/request/dto/PendingRequestDto.java
  backend/core/src/main/java/com/feed_grabber/core/request/model/Request.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseRepository.java
  backend/core/src/main/java/com/feed_grabber/core/response/model/Response.java
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/MainPage/styles.module.sass
  frontend/src/components/ResponseQuestion/CheckboxResponse/index.tsx
  frontend/src/components/ResponseQuestion/DateSelectionResponse/index.tsx
  frontend/src/components/ResponseQuestion/FreeTextResponse/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/components/ResponseQuestion/ScaleQuestionResponse/index.tsx
  frontend/src/components/ResponseQuestion/index.tsx
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/ReportPage/RespondentReport/index.tsx
  frontend/src/containers/ReportPage/index.tsx
  frontend/src/containers/Routing/index.tsx
  frontend/src/helpers/apiClient.ts
  frontend/src/helpers/websocket.helper.tsx
  frontend/src/models/IQuestionResponse.ts
  frontend/src/models/forms/Questions/TypeToResponseMap.tsx
  frontend/src/models/forms/Response/types.ts
  frontend/src/sagas/auth/sagas.ts
  frontend/src/sagas/questions/routines.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/routines.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: fix

#222 Fix dependencies
  backend/event_processor/build.gradle.kts
Labels: fix

#220 menu fix
  frontend/src/components/QuestionMenu/index.tsx
Labels: fix, frontend

#221 Hotfix 207 two column content
  frontend/src/components/UI/UIContent/styles.module.sass
Labels: fix, frontend

#223 sagas questionnaire update on modify fix
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
  frontend/src/sagas/questions/sagas.ts
Labels: fix, frontend

#224 Fix 206
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/serializers/QuestionUpdateDes.java
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
Labels: fix

#225 env + ws fix
  frontend/.env.example
  frontend/.env.production
  frontend/src/containers/RequestsPage/RequestItem/index.tsx
  frontend/src/env.ts
  frontend/src/helpers/websocket.helper.tsx
Labels: fix

#228 hotfix question creation
  backend/event_processor/src/main/kotlin/com/feed_grabber/event_processor/email/EmailSender.kt
  frontend/src/helpers/array.helper.ts
  frontend/src/sagas/questions/sagas.ts
Labels: fix

#227 checkbox and request no deadline fix
  frontend/src/components/MainPage/index.tsx
  frontend/src/components/ResponseQuestion/CheckboxResponse/index.tsx
  frontend/src/components/ResponseQuestion/RadioButtonResponse/index.tsx
Labels: fix, frontend

#208 Feature/179 add default question info
  frontend/src/components/ComponentsQuestions/CheckboxQuestion/index.tsx
  frontend/src/components/ComponentsQuestions/RadioButtonQuestionUI/index.tsx
  frontend/src/components/QuestionDetails/defaultValues.ts
  frontend/src/components/QuestionDetails/index.tsx
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/QuestionDeatilsPage/index.tsx
  frontend/src/models/forms/Questions/DefaultQuestion.ts
  frontend/src/sagas/categories/sagas.ts
Labels: frontend

#219 Feature/195 update role support on back
  backend/core/src/main/java/com/feed_grabber/core/auth/security/MethodSecurityConfig.java
  backend/core/src/main/java/com/feed_grabber/core/auth/security/SecurityConfiguration.java
  backend/core/src/main/java/com/feed_grabber/core/company/CompanyController.java
  backend/core/src/main/java/com/feed_grabber/core/invitation/InvitationController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/questionCategory/QuestionCategoryController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/report/ReportController.java
  backend/core/src/main/java/com/feed_grabber/core/request/RequestController.java
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseController.java
  backend/core/src/main/java/com/feed_grabber/core/role/RoleConstants.java
  backend/core/src/main/java/com/feed_grabber/core/role/SystemRole.java
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserMapper.java
  backend/core/src/main/java/com/feed_grabber/core/user/UserService.java
  frontend/src/containers/RequestCreation/index.tsx
Labels: backend, enhancement

#233 Improve layout buttons
  frontend/src/components/AuthForm/SignForm/index.jsx
  frontend/src/components/Landing/index.tsx
Labels: enhancement

#236 Remove zero from notification counter
  frontend/src/components/NotificationMenu/index.tsx
Labels: fix

#237 Add popup to SelectFromExisting button in menu
  frontend/src/components/QuestionMenu/index.tsx
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
Labels: fix

#240 fix missing response on reload
  backend/core/src/main/java/com/feed_grabber/core/response/ResponseMapper.java
  backend/core/src/main/java/com/feed_grabber/core/response/dto/ResponseDto.java
  frontend/src/components/MainPage/index.tsx
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/reducers/questionnaires/reducer.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/sagas.ts
Labels: fix, frontend

#238 Feature/196 front role support
  frontend/src/components/AccessManager/index.tsx
  frontend/src/components/AccessManager/rbac-rules.ts
  frontend/src/components/PrivateRoute/index.tsx
  frontend/src/components/SideMenu/index.tsx
  frontend/src/containers/TeamsPage/index.tsx
Labels: enhancement, frontend

#242 Password reset UI
  frontend/src/components/AuthForm/ResetPasswordForm/index.tsx
  frontend/src/components/AuthForm/ResetPasswordForm/styles.module.sass
Labels: frontend

#246 fixed broken import
  backend/core/src/main/java/com/feed_grabber/core/user/UserController.java
Labels: fix

#249 Change error notification text
  frontend/src/sagas/teams/sagas.ts
Labels: fix, frontend

#239 Feature/93 questionnaire chapter support
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionController.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/question/QuestionService.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/AddExistingQuestionsDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/dto/QuestionIndexDto.java
  backend/core/src/main/java/com/feed_grabber/core/question/model/Question.java
  backend/core/src/main/java/com/feed_grabber/core/question/serializers/CustomDes.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireController.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireMapper.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/QuestionnaireService.java
  backend/core/src/main/java/com/feed_grabber/core/questionnaire/model/Questionnaire.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionController.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionMapper.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionRepository.java
  backend/core/src/main/java/com/feed_grabber/core/sections/SectionService.java
  backend/core/src/main/java/com/feed_grabber/core/sections/dto/SectionCreateDto.java
  backend/core/src/main/java/com/feed_grabber/core/sections/dto/SectionDto.java
  backend/core/src/main/java/com/feed_grabber/core/sections/dto/SectionQuestionsDto.java
  backend/core/src/main/java/com/feed_grabber/core/sections/dto/SectionUpdateDto.java
  backend/core/src/main/java/com/feed_grabber/core/sections/exception/SectionNotFoundException.java
  backend/core/src/main/java/com/feed_grabber/core/sections/model/Section.java
  backend/core/src/main/resources/db/migration/V2020.08.27_9.20__create_sections_table.sql
  docs/feedback_db.drawio
  frontend/src/components/QuestionMenu/index.tsx
  frontend/src/components/QuestionnaireOrderDraggableView/QuestionCard.tsx
  frontend/src/components/QuestionnaireOrderDraggableView/index.tsx
  frontend/src/components/QuestionnairePreview/QuestionnaireList.tsx
  frontend/src/components/QuestionnairePreview/index.tsx
  frontend/src/components/SectionBlock/index.tsx
  frontend/src/components/SectionBlock/styles.module.scss
  frontend/src/components/SelectQuestionsFromExisting/index.tsx
  frontend/src/components/UI/UISectionCard/index.tsx
  frontend/src/components/UI/UISectionCard/styles.module.sass
  frontend/src/containers/ExpandedQuestionnaire/index.tsx
  frontend/src/containers/QuestionnareResponse/index.tsx
  frontend/src/containers/RequestCreation/index.tsx
  frontend/src/models/IAppState.ts
  frontend/src/models/forms/Sections/types.ts
  frontend/src/reducers/index.ts
  frontend/src/reducers/section/reducer.ts
  frontend/src/sagas/index.ts
  frontend/src/sagas/questions/routines.ts
  frontend/src/sagas/questions/sagas.ts
  frontend/src/sagas/qustionnaires/sagas.ts
  frontend/src/sagas/sections/routines.ts
  frontend/src/sagas/sections/sagas.ts
Labels: backend, enhancement, frontend

#250 Fix 234 team page error
  backend/core/src/main/java/com/feed_grabber/core/team/TeamController.java
  frontend/src/sagas/teams/sagas.ts
Labels: backend, fix, frontend
